
<br />

	<div id="footer" class="z-clearer">

	<span style="float:left;text-align : left;padding-left:25px;">

{gt text="Copyright"}&nbsp;&copy;&nbsp;{'Y'|date}&nbsp;<a href="{homepage}" title="{gt text="Home"}"><strong>{sitename}</strong></a>&nbsp;|&nbsp;

 
<a href="{modurl modname='Formicula'}" title="{gt text="Contact Us"}">{gt text="Contact Us"}</a>&nbsp;&middot;&nbsp;

<a href="{modurl modname='News' type='user' func='view' theme='rss'}" title="{gt text="RSS FEED"}">{gt text="RSS FEED"}</a>


	</span> 



	
<span style="float:right;text-align:right;padding-right:25px;">

::&nbsp;{gt text="Derus1Green Theme by"}:&nbsp;<a href="http://takeit2.com" title="TakeIT2.CoM">TakeIT2</a>&nbsp;|&nbsp;

{gt text="Valid"}&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" title="CSS"><strong>CSS</strong></a>&nbsp;|&nbsp;

<a href="http://validator.w3.org/check/referer" title="XHTML"><strong>XHTML</strong></a>
	</span>

	</div>
<!--
//
//	From DERUS Webdesign:
//

I request you retain the full copyright notice below including the links 
to http://www.webdesign.rudomazin.de/ and http://www.cocktail-rezepte-4u.de/recipes/.

You are allowed to use this design only if you agree to the following conditions:
- You cannot remove copyright notice from this design without our permission.
- You cannot use images from this design anywhere else without permission.
- If you modify this design it still should contain copyright because it is based on our work.

For support visit http://www.webdesign.rudomazin.de/kontakt/kontakt.html

DERUS Webdesign: 2008

// -->	
<div id="bottom">
	<p>{gt text="design by"}:&nbsp;<a href="http://www.webdesign.rudomazin.de/" target="_blank">german webdesigner</a>&nbsp;{gt text="and"}&nbsp;<a href="http://www.cocktail-rezepte-4u.de/recipes/" target="_blank">{gt text="cocktails - mixed drinks"}</a></p>
</div> 



