
/* andreas00 - an open source xhtml/css website layout by Andreas Viklund  - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given to the original author.
Version: 1.0 (Apr 07, 2006) */

/***** Body and main container *****/


body {
    background-color : #eaeaea;
    background-image : url(../images/bg.gif);
    background-position : top center;
    background-repeat : repeat-y;
    color : #3a3a3a;
    font-family : Verdana,Tahoma,Arial,sans-serif;
    font-size : 76%;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#wrap {
    background-color : #ffffff;
    color : #303030;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 1px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 1px;
    width : 760px;
  }

/***** Header *****/


#header {
    background-color : #ffffff;
    background-image : url(../images/front.jpg);
    background-position : bottom left;
    background-repeat : no-repeat;
    color : #505050;
    height : 250px;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#header h1 {
    font-size : 2.5em;
    font-weight : normal;
    letter-spacing : -2px;
    margin-bottom : 4px;
    margin-left : 15px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 15px;
  }


#header h1 a,#header h1 a:hover {
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#header p {
    font-size : 1.1em;
    letter-spacing : -1px;
    margin-bottom : 5px;
    margin-left : 15px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 3px;
    padding-right : 0;
    padding-top : 0;
  }

/***** Left sidebar *****/


#avmenu {

    clear : left;
    float : left;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 150px;
  }



#avmenu ul {
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 150px;
  }


#avmenu li {
    margin-bottom : 5px;
  }


p.extmenuadmin {

   padding-left: 10px;
}

.z-bkey-extmenu ul {
    background-color : #f4f4f4 !importent;
    background-image : url(../images/menubg.gif);
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 150px;
}

#avmenu .z-bkey-extmenu li a {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    border-bottom-color : #d8d8d8;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #cccccc;
    border-left-style : solid;
    border-left-width : 4px;
    border-right-color : #d8d8d8;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #d8d8d8;
    border-top-style : solid;
    border-top-width : 1px;

    color : #505050;
    display : block;
    font-weight : bold;
    height : 20px;

    padding-bottom : 0;
    padding-left : 10px;
    padding-right : 0;
    padding-top : 6px;

    text-decoration : none;

  }


#avmenu .z-bkey-extmenu li a:hover, #avmenu .z-bkey-extmenu li a.current {
    background-color : #eaeaea;
    background-image : url(../images/menubg2.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    border-bottom-color : #b0b0b0;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    color : #505050;
    border-left-color : #505050;
    border-left-style : solid;
    border-left-width : 4px;
    border-right-color : #b0b0b0;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #b0b0b0;
    border-top-style : solid;
    border-top-width : 1px;
  }





#avmenu li a {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    bottom-color : #d8d8d8;
    bottom-style : solid;
    bottom-width : 1px;
    color : #505050;
    display : block;
    font-weight : bold;
    height : 20px;
    left-color : #cccccc;
    left-style : solid;
    left-width : 4px;
    padding-bottom : 0;
    padding-left : 10px;
    padding-right : 0;
    padding-top : 6px;
    right-color : #d8d8d8;
    right-style : solid;
    right-width : 1px;
    text-decoration : none;
    top-color : #d8d8d8;
    top-style : solid;
    top-width : 1px;
  }


#avmenu li a:hover, #avmenu li a.current {
    background-color : #eaeaea;
    background-image : url(../images/menubg2.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    border-bottom-color : #b0b0b0;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    color : #505050;
    border-left-color : #505050;
    border-left-style : solid;
    border-left-width : 4px;
    border-right-color : #b0b0b0;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #b0b0b0;
    border-top-style : solid;
    border-top-width : 1px;
  }










#avmenu ul ul {
    font-size : 0.9em;
    margin-bottom : 5px;
    margin-left : 15px;
    margin-right : 0;
    margin-top : 5px;
    width : 135px;
  }


#avmenu ul ul a {
    height : 16px;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 8px;
    padding-right : 0;
    padding-top : 4px;
  }


#avmenu h2, #extras h2 {
    color : #004E78;
    background-color : #EAF9FD;
    border-bottom-color : #004E78;
    border-bottom-style : dotted;
    border-bottom-width : 1px;
    font-size : 1.4em;
    font-weight : normal;
    padding-bottom : 2px;
    padding-left : 5px;
    padding-right : 0;
    padding-top : 2px;
  }

/***** Right sidebar *****/


#extras {
    float : right;
    font-size : 0.9em;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 130px;
  }


#extras p, #extras ul {
    line-height : 1.3em;
    margin-bottom : 1.5em;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#extras a {
    font-weight : bold;
  }


#extras li {
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 6px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }



/***** Main content *****/


#content {
    line-height : 1.5em;
    margin-bottom : 10px;
    margin-left : 160px;
    margin-right : 140px;
    margin-top : 10px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align : left;
  }


#contentwide {
    line-height : 1.5em;
    margin-bottom : 10px;
    margin-left : 160px;
    margin-right : 0;
    margin-top : 10px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align : left;
  }


#contentfull {
    line-height : 1.5em;
    margin-bottom : 10px;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 10px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 2px;
    text-align : left;
  }


#content h1, #contentwide h1, #contentfull h1 {
    font-size : 2.0em;
    font-weight : normal;
    letter-spacing : -1px;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 8px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#content h2, #contentwide h2, #contentfull h2 {
    font-size : 1.8em;
    font-weight : normal;
    letter-spacing : -1px;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 8px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#content h3, #contentwide h3, #contentfull h3 {
    font-size : 1.5em;
    font-weight : normal;
    margin-bottom : 6px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 6px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#content img, #contentwide img, #contentfull img {
    background-color : #cccccc;
    border-bottom-color : #f0f0f0;
    border-bottom-style : solid;
    border-bottom-width : 4px;
    border-left-color : #f0f0f0;
    border-left-style : solid;
    border-left-width : 4px;
    border-right-color : #f0f0f0;
    border-right-style : solid;
    border-right-width : 4px;
    border-top-color : #f0f0f0;
    border-top-style : solid;
    border-top-width : 4px;
    color : #303030;
    display : inline;
    padding-bottom : 1px;
    padding-left : 1px;
    padding-right : 1px;
    padding-top : 1px;
  }


#content a, #contentwide a, #contentfull a {
    font-weight : bold;
  }


#content ul, #content ol,#contentwide ul, #contentwide ol,#contentfull ul, #contentfull ol {
    margin-bottom : 16px;
    margin-left : 20px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#content ul ul, #content ol ol,#contentwide ul ul, #contentwide ol ol,#contentfull ul ul, #contentfull ol ol {
    margin-bottom : 2px;
    margin-left : 20px;
    margin-right : 0;
    margin-top : 2px;
  }


#content li, #contentwide li, #contentfull li {
    margin-bottom : 2px;
    margin-left : 10px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 4px;
    padding-right : 0;
    padding-top : 0;
  }

/***** Footer *****/


#footer {
    background-color : #ffffff;
    clear : both;
    color : #808080;
    font-size : 0.9em;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 8px;
    padding-left : 0;
    padding-right : 0;
    padding-top : 8px;
    text-align : center;
    top-color : #dadada;
    top-style : solid;
    top-width : 2px;
    width : 760px;
  }


#footer p {
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#footer a {
    background-color : inherit;
    color : #808080;
    text-decoration : none;
  }


#footer a:hover {
    text-decoration : underline;
  }

/***** Various tags *****/


a {
    background-color : inherit;
    color : #505050;
    text-decoration : none;
  }


a:hover {
    background-color : inherit;
    color : #286ea0;
    text-decoration : underline;
  }


a img {
  }


p {
    margin-bottom : 16px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
  }


blockquote {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    bottom-color : #d8d8d8;
    bottom-style : solid;
    bottom-width : 1px;
    color : #505050;
    left-color : #cccccc;
    left-style : solid;
    left-width : 4px;
    margin-bottom : 16px;
    margin-left : 16px;
    margin-right : 16px;
    margin-top : 16px;
    padding-bottom : 7px;
    padding-left : 11px;
    padding-right : 7px;
    padding-top : 7px;
    right-color : #d8d8d8;
    right-style : solid;
    right-width : 1px;
    top-color : #d8d8d8;
    top-style : solid;
    top-width : 1px;
  }


blockquote p {
    font-size : 1.1em;
    line-height : 1.3em;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
  }

/***** Table styles *****/


table {
    border-bottom-color : #d8d8d8;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-collapse : collapse;
    border-left-color : #d8d8d8;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #d8d8d8;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #d8d8d8;
    border-top-style : solid;
    border-top-width : 1px;
    line-height : 1.3em;
    margin-bottom : 16px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


caption {
    font-size : 1.5em;
    font-weight : normal;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 8px;
    padding-left : 0;
    padding-right : 0;
    padding-top : 6px;
    text-align : left;
  }


th {
    background-color : #eaeaea;
    background-image : url(../images/menubg2.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    color : #505050;
    padding-bottom : 7px;
    padding-left : 7px;
    padding-right : 7px;
    padding-top : 7px;
    text-align : left;
  }


td {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    color : #303030;
    font-size : 0.9em;
    padding-bottom : 7px;
    padding-left : 7px;
    padding-right : 7px;
    padding-top : 7px;
    text-align : left;
  }

/***** Form styles *****/


.button {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    bottom-color : #d8d8d8;
    bottom-style : solid;
    bottom-width : 1px;
    color : #505050;
    font-weight : bold;
    left-color : #cccccc;
    left-style : solid;
    left-width : 4px;
    margin-bottom : 15px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 4px;
    padding-left : 4px;
    padding-right : 4px;
    padding-top : 4px;
    right-color : #d8d8d8;
    right-style : solid;
    right-width : 1px;
    top-color : #d8d8d8;
    top-style : solid;
    top-width : 1px;
    min-width : 80px;
    max-width : 120px;
  }


input, textarea {
    border-bottom-color : #cccccc;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #cccccc;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #cccccc;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #cccccc;
    border-top-style : solid;
    border-top-width : 1px;
    font-family : Verdana,Tahoma,Arial,Sans-Serif;
    font-size : 1em;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 4px;
    padding-left : 4px;
    padding-right : 4px;
    padding-top : 4px;
  }


label {
    margin-bottom : 2px;
    margin-left : 2px;
    margin-right : 2px;
    margin-top : 2px;
  }


input {
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 0;
    min-width : 120px !important;
    max-width : 200px;
  }


textarea {
    width : 400px;
  }

/***** Search box *****/
.z-blockposition-left  #block_search_q,
 .z-blockposition-right #block_search_q {
    min-width : 90px !important;
    max-width : 120px;
}

#searchbox {
    margin-bottom : 16px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 6px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#searchform {
    background-color : #ffffff;
    border-bottom-color : #cccccc;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #cccccc;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #cccccc;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #cccccc;
    border-top-style : solid;
    border-top-width : 1px;
    color : #505050;
    font-size : 0.9em;
    padding-bottom : 4px;
    padding-left : 4px;
    padding-right : 4px;
    padding-top : 4px;
    width : 116px;
  }


#searchbox label {
    display : none;
  }

.z-blockposition-left form, .z-blockposition-right form {
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 0;
    min-width : 90px !important;
    max-width : 150px !important;
}
/***** Various classes *****/


.left {
    float : left;
    margin-bottom : 5px;
    margin-left : 0;
    margin-right : 10px;
    margin-top : 10px;
  }


.right {
    float : right;
    margin-bottom : 5px;
    margin-left : 10px;
    margin-right : 0;
    margin-top : 10px;
  }


.announce {
    background-color : #f4f4f4;
    background-image : url(../images/menubg.gif);
    background-position : bottom left;
    background-repeat : repeat-x;
    bottom-color : #d8d8d8;
    bottom-style : solid;
    bottom-width : 1px;
    color : #505050;
    left-color : #cccccc;
    left-style : solid;
    left-width : 4px;
    line-height : 1.3em;
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 10px;
    padding-bottom : 5px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 10px;
    right-color : #d8d8d8;
    right-style : solid;
    right-width : 1px;
    top-color : #d8d8d8;
    top-style : solid;
    top-width : 1px;
    width : 105px;
  }


.announce a {
    font-weight : bold;
  }


.announce p {
    font-size : 0.9em;
  }


.announce h2 {
    margin-bottom : 10px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
  }


#avmenu .announce {
    width : 125px;
  }


.textright {
    margin-bottom : 4px;
    margin-left : 0;
    margin-right : 0;
    margin-top : -10px;
    text-align : right;
  }


.center {
    text-align : center;
  }


.small {
    font-size : 0.8em;
  }


.large {
    font-size : 1.3em;
  }


.bold {
    font-weight : bold;
  }


.highlighted {
    background-color : #f0f0f0;
    border-bottom-color : #b0b0b0;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #b0b0b0;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #b0b0b0;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #b0b0b0;
    border-top-style : solid;
    border-top-width : 1px;
    color : #303030;
    padding-bottom : 3px;
    padding-left : 3px;
    padding-right : 3px;
    padding-top : 3px;
  }


.hide {
    display : none;
  }

/**************** generic clearfix solution ****************/
/**************** please include this in all ***************/
/******************** css based themes! ********************/


.z-clearfix:after {
    clear : both;
    content : ".";
    display : block;
    height : 0;
    visibility : hidden;
  }


.z-clearfix {
    display : inline-table;
  }

/* Hides from IE-mac \*/

* html .pn-clearfix {
    height : 1%;
  }


.z-clearfix {
    display : block;
  }

/* End hide from IE-mac */

/* Overflow-Method to clear float environments */

.z-floatbox {
    overflow : hidden;
  }

