<!-- end #page -->

	<!--footer starts here-->
	<div id="footer">
	<div class="wrapper">
	<p class="links">
<span style="float:left;padding-left:10px">
&copy;&nbsp;2007-{'Y'|date}&nbsp;<a href="{homepage}" title="{sitename}&nbsp;{gt text="Home Page"}"><strong>{sitename}</strong></a>&nbsp;&#183;&nbsp;
<a href="{modurl modname='Sitemap'}">{gt text="Sitemap"}</a>&nbsp;&#183;&nbsp;
<a href="{modurl modname=formicula}">{gt text="Contact"}</a>&nbsp;&#183;&nbsp;
<a href="{modurl modname='News' type='user' func='view' theme='rss'}">{gt text="RSS Feed"}</a></span>
	</p>

	<p class="legal">
<span style="float:right;text-align:right;padding-right:10px">
{gt text="design by"}:&nbsp;<a href="http://www.freecsstemplates.org/">{gt text="Free CSS Templates"}</a>&nbsp;&#183;&nbsp;

<br />

{gt text="Valid"}&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" title="{gt text="This page validates as CSS"}"><strong><abbr title="{gt text="Cascading Style Sheets"}">{gt text="CSS"}</abbr></strong></a>&nbsp;&#183;&nbsp;
<a href="http://validator.w3.org/check/referer" title="{gt text="This page validates as XHTML 1.0 Strict"}"><strong><abbr title="{gt text="eXtensible HyperText Markup Language"}">{gt text="XHTML"}</abbr></strong></a>

</span>

	</p>
	</div>
	</div>
