
/*  GLOBAL STUFF  */
body,td,th {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


body {
    height: 100%;
    margin: 0;
    background: url(../images/bg.png) top center repeat-y;
    text-align: center;
}


a {
    color: #999999;
    text-decoration: none;
}


a:hover {
    color: #FF9900;
}


p, h1, h2, h3, h4, h5, h6, pre {
    margin-top: 0;
}


h1, h2, h3, h4, h5, h6 {
    padding: 1px 5px;
    background-color: #F9F9F9;
    color: #FF9900;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: normal;
}


h1 {
    font-size: 32px;
}


h2 {
    font-size: 24px;
}


h3 {
    font-size: 18px;
}


h4 {
    font-size: 16px;
}


h5 {
    font-size: 13px;
}


h6 {
    font-size: 10px;
}


hr {
    height: 1px;
    color: #999999;
}


img {
    border: 0;
}


ul {
    list-style: square;
}


acronym, abbr {
    border-bottom: 1px dashed;
    cursor: help;
}

/*  CLASSES  */
input.styled {
    margin: 1px;
    background-color: #F3F3F3;
    border: 0;
    color: #666666;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}


.float_left {
    float: left;
}


.float_right {
    float: right;
}


.clear {
    clear: both;
}


.underline {
    border-bottom: solid 1px;
}


.qoute {
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px 25px;
    background-color: #FCFCFC;
    border: #CCCCCC dashed;
    border-width: 1px 0;
    font-size: 11px;
    line-height: 20px;
    display: block;
}


.left_line {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 15px;
    border-left: #CCCCCC solid 2px;
    font-size: 11px;
    line-height: 20px;
    display: block;
}


.bottom_line {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: #CCCCCC solid 1px;
    background: url(../images/top_shadow.png) bottom repeat-x;
}


.box {
    padding: 5px 10px;
    background-color: #F9F9F9;
}


.zebra {
    background: url(../images/zebra.png);
}

/*  STRUCTURE (in order of appearance)  */
#footer_float {
    /* This keeps the footer to the bottom of the page when there's not enough content to fill it. Check out the "Blank page" page to see how it looks. */height: 100%;
    min-height: 100%;
    margin-bottom: -31px;
}


#body {
    margin: 0 auto 31px auto;
    width: 800px;
    text-align: justify;
}


#top_nav {
    background-image : url(../images/top_shadow.png);
    background-position : bottom;
    background-repeat : repeat-x;
    clear : right;
    color : #999999;
    font-size : 9px;
    padding-bottom : 8px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 6px;
    text-align : center;
}


#top_nav a {
    color: #999999;
    font-size : 9px;
    text-align : center;
    font-weight: bold;
}


#top_nav a:hover {
    color: #FF9900;
}


#login {
    float:left;
    padding-bottom : 8px;
}


#logout {
    float:left;
    padding-bottom : 8px;
}


#snacktime {
    float:right;
    padding-bottom : 8px;
}


#header {
    clear : both;
    height: 150px;
    padding-left: 25px;
    background: url(../images/header.png) top no-repeat;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
#header a, #header a:hover {
    color: #FFFFFF;
}

#sitename .with_slogan {
    /* Apply this to the content of the header if you want to have a slogan below the name, as it is now. */position: relative;
    top: 30px;
}


#sitename .without_slogan {
    /* Apply this to the content of the header if you don't want to have a slogan below the name. */position: relative;
    top: 50px;
}


#slogan {
    position: relative;
    top: -5px;
    left: 5px;
    font-size: 18px;
    font-weight: normal;
}


#menu {
    height: 50px;
    background: url(../images/menu.png) repeat-x;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}


#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#menu ul li {
    display: inline;
}


#menu ul li a {
    padding: 19px 15px 15px 15px;
    border-right: #FF9900 dashed 1px;
    color: #666666;
    text-decoration: none;
    float: left;
}


#menu ul li a:hover, #menu ul li.current a {
    background: url(../images/menu_hover.png) repeat-x;
    color: #FF9900;
}


#menu .pressed {
    padding: 19px 15px 15px 15px;
    border-right: #FF9900 dashed 1px;
    background: url(../images/menu_hover.png) repeat-x;
    color: #666666;
    float: left;
}


.content {
    /* This wraps the content. */margin: 15px 15px 0 15px;
    line-height: 18px;
    clear: both;
}

/* One column. Check out the "Layouts" page. */
.c1col {
    width: 770px;
    float: left;
}

/* Two columns. Check out the "Layouts" page. */
.c2col_left {
    width: 200px;
    padding-right: 20px;
    float: left;
}


.c2col_main {
    width: 550px;
    float: left;
}


.c2col_right {
    width: 200px;
    padding-left: 20px;
    float: left;
}


.c2col_eq_left {
    width: 375px;
    padding-right: 20px;
    float: left;
}


.c2col_eq_right {
    width: 375px;
    float: left;
}

/* Three columns. Check out the "Layouts" page. */
.c3col_side {
    width: 150px;
    float: left;
}


.c3col_middle {
    width: 430px;
    padding: 0 20px;
    float: left;
}


#footer {
    width: 800px;
    margin: 0 auto;
    padding: 12px 0 7px 0;
    background: #F9F9F9 url(../images/top_shadow.png) repeat-x;
    font-size: 10px;
    text-align: center;
    clear: both;
}

/*  HACKS  */
html {
    height: 100%;
}


#footer_hack {
    clear: both;
}


.z-bkey-extmenu ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-decoration:none;
    width : 140px;
}

p.extmenuadmin a {
    padding-left: 15px;
    text-decoration:none;
}


#block_search_q {
    min-width : 90px !important;
    max-width : 120px;
}

.z-bkey-adminnav ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;

}

.z-bkey-adminnav ul li {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : square;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align: left;
}

.z-bkey-adminnav ul ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;

}
.z-bkey-adminnav ul ul li {
    list-style-image : none;
    list-style-type : circle;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 5px;
    padding-right : 0;
    padding-top : 0;
    text-align: left;
}
