

html {
    height: 100%;
}


body {
    background-color: #B9B1AE;
    color: #5F4F4F;
}


blockquote {
    background-color : #F7EFEF;
    border-bottom-color : #7F7977;
    border-left-color : #7F7977;
    border-right-color : #7F7977;
    border-top-color : #7F7977;
    color : #5F4F4F;
}


h1, #column1 h4, #column2 h2 {
    background-color: #FFFFFF;
    color: #85544F;
    border-color: #B9B1AE;
}


#main {
    background: #FFFFFF url(../images/back_6.jpg) repeat-y;
    color: #5F4F4F;
}


#footer {
    background-color: transparent;
    color: #5F4F4F;
    border-color: #B9B1AE;
}


#footer a, #footer a:hover {
    background-color: #FFFFFF;
    color: #5F4F4F;
}


#logo {
    background: #FFFFFF url(../images/logo_6.jpg) no-repeat;
    color: #5F4F4F;
}


#logo h1, #logo h1 a, #logo h1 a:hover, #logo h1 a:visited {
    background-color: transparent;
    text-decoration:none;
    color: #FFFFFF;
}


#menu {
    background: #FFFFFF url(../images/menu_6.jpg) no-repeat;
    color: #5F4F4F;
}


#menu li a {
    background: transparent;
    color: #3A2F2C;
    border-color: #7F7977;
}


#menu li a:hover, #menu li.current a {
    background: transparent;
    color: #3A2F2C;
    border-color: #FFFFFF;
}


.block {
    background: #FFFFFF;
    color: #5F4F4F;
    border-color: #7F7977;
}


#content, #column1, #column2, .block a, #column2 a,.block a:hover, #column2 a:hover {
    background: transparent;
    color: #5F4F4F;
}


input, textarea {
    background-color: #FFFFFF;
    color: #5F4F4F;
    border-color: #AAA2AE;
}

