

html, body {
    margin : 0;
    padding : 0;
}


body {
    font : 73% Arial, Helvetica, "Trebuchet MS", Arial, Tahoma, sans-serif;
    background : #D5DBE1 url(../images/bg.jpg) top center repeat-y;
    color : #555;
}


a:link, a:visited {
    color : #FDA913;
    background : inherit;
    text-decoration : underline;
}


a:hover {
    color : #154182;
    background : inherit;
    text-decoration : none;
}


a img {
    border: 0px;
}


p {
    text-align:justify;
}

#wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


#masthead {
    height:200px;
    padding: 0;
    margin-bottom: 0;
    background: #B5B5B5 url(../images/masthead.jpg) top center no-repeat;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


#searchform {
    float:right;
    position:relative;
    top:20px;
    margin-right:15px;
}


#sitename a {
    color : #154182;
    float:left;
    margin-left:15px;
    position:relative;
    top:0px;
    text-decoration : none;
}


#slogan {
    clear:left;
    color : #154182;
    float:left;
    margin-left:35px;
}


#container {
    width: 770px;
    border: 0px solid #aaa;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    line-height: 1.8em;
    background : #fff;
    color : #555;
}

#menu {
    height: 50px;
    padding: 0;
    margin-bottom: 0;
    background-color: #D5DBE1;
}


#menu {
    position:relative;
    display:block;
    height:42px;
    font-size:1.2em;
    font-weight:bold;
    background:#FDA913;
    font-family:Arial,Verdana,Helvitica,sans-serif;
}


#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;
}


#menu ul li {
    display:block;
    float:left;
    margin: 0 0 0 0;
}


#menu ul li a {
    display:block;
    float:left;
    color:#214984;
    text-decoration:none;
    padding:10px 20px 0 20px;
    height:32px;
}


#menu ul li a:hover,#menu ul li.current a {
    color:#FDA913;
    background:#204883;
}


#content {
    padding: 1em;
    margin: 0 240px 20px 0;
    background: #fff;
text-align:justify;
}


#sidebar {
    background-color : #fff;
    float : right;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 15px;
    padding-bottom : 20px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    width : 200px;
}


#footer {
    clear: both;
    height: 100px;
    padding: 0;
    margin-top: 0;
    text-align: center;
    color: #333;
    background: #B5B5B5 url(../images/footer.jpg) top center no-repeat;
}


#footer p {
    margin-top: 0;
    margin-left : auto;
    margin-right : auto;
    padding-left : 20px;
    padding-right : 20px;
    text-align: center;
    width:760px;
}


h1, #sidebar h4 {
    margin: 0;
    padding: 20px 0 20px 5px;
    font-size: 160%;
    letter-spacing: 3px;
    color: #214984;
}


.right {
    float: right;
    border: 0px solid #656C4A;
    margin: 5px 0 10px 0;
    padding: 10px;
}


.z-bkey-menu {
    width : 200px;
    margin : 0 0 20px 0;
}


.z-bkey-menu ul {
    margin-left : 0;
    padding-left : 0;
    list-style-type : none;
}


.z-bkey-menu a {
    text-decoration : none;
    display : block;
    padding : 3px;
    width : 200px;
    border-bottom : 1px solid #eee;
    background : #fff;
    color : #FDA913;
}


.z-bkey-menu a:link, #navlist a:visited {
    color : #FDA913;
    background : #fff;
}


.z-bkey-menu a:hover {
    text-decoration : none;
    background : #eee;
    color : #214984;
}


.z-bkey-extmenu ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 10px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-decoration:none;
    width : 200px;
}


p.extmenuadmin a {
    padding-left: 15px;
    text-decoration:none;
}


.z-blockposition-left  #block_search_q, .z-blockposition-right #block_search_q {
    min-width : 90px !important;
    max-width : 130px;
}


.z-bkey-adminnav ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : square;
    margin-bottom : 5px;
    margin-left : 10px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;

}
.z-bkey-adminnav ul ul li {
    list-style-image : none;
    list-style-type : circle;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0px;
    padding-right : 0;
    padding-top : 0;

}