<div id="footer">
	<div id="footer-content">
		<div id="footer-right">
			<a href="{pngetbaseurl}">{gt text="Home"}</a>&nbsp;|&nbsp;
			<a href="{modurl modname=Sitemap}">{gt text="SiteMap"}</a>&nbsp;|&nbsp;
			<a href="{modurl modname=News func=view theme=rss}">{gt text="RSS Feed"}</a>
		</div>
		<div id="footer-left">		
			&copy; 2006-{'Y'|date} <strong>{sitename}</strong> |
			{gt text="Design by"} <a href="http://www.styleshout.com/">{gt text="styleshout"}</a> |
			{gt text="Valid"} <a href="http://validator.w3.org/check/referer">{gt text="XHTML"}</a> |
			<a href="http://jigsaw.w3.org/css-validator/check/referer">{gt text="CSS"}</a>
		</div>

	</div>
</div>
