
/*Opaque Green designed by Ganesh Iyer aka lastlegion
* Visit: http://ll.outer-heaven.net/v1/index.php for more information and more templates
* Free to use as long as the proper credits are given to me
* Date: 22/3/06
*/


/*****GLOBAL******/
body {
    background: #333333 url(../images/bg1.jpg);
    color: #2B2B2B;
    margin: 0;
    font-family: arial, times, Times, georgia, serif;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

a { 
    text-decoration: none; color: #333;
    border-bottom: 1px dashed #333;
}
a:hover {
    border-bottom: 1px dashed #808080;
    color: #808080;
}


/*****LAYOUT******/
#container{
    margin: auto;
    width: 750px;
    border: #050505 1px solid;
    background: #333;
    text-align: left;
}

#head{
    margin: 0;
    padding: 28px 0px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 5px;
    word-spacing: 10px;
    width: 100%;
    background: #252525;
}

#nav {
	 background: #6ABC21;
	 margin: 0;
	 padding: 0;
	 height: 26px;
}
#nav li {
	 list-style-type: none;
	 display: inline;
     line-height: 20px;
}
#nav li a {
     text-decoration: none;
     color: #2D4E0E;
     background-color: #6ABC21;
     padding: 3px 8px;
	 font-size: 1em;
 	 float: left;
	 font-weight: bold;
}
#nav li a:hover {
    background-color: #467A16;
    color:#fff;
}
#nav li a.on { 
    background-color: #52911A; 
    color: #C6C4C5;
}

/********COLUMNS********/
#content{
    border: 10px solid #FFF;
    background: #fff;
    padding: 10px;
    position: relative;
    float: left;
    width: 545px;
}

#content div{
    background: #fff url(../images/para_bg.jpg) repeat-x;
}

#content h1, #content h2{
    font-family: times;
    color: #000;
  	letter-spacing: -1px;
	font-size: 35px;
	padding: 2px;
	font-weight: 500;
}


#content li {
	margin:0 0 0 0;
	border-bottom:1px solid #F0ede3;
	border-left: 6px solid #6abc21;
	padding:0 0 5px 20px;
	list-style:none;
	color:#999;
}

#content ul#minitabs li {
	margin:0 0 0 0;
	border-bottom:1px solid #F0ede3;
	border-left: 6px solid #6abc21;
	padding:0 0 5px 20px;
	list-style:none;
	color:#999;
}

#content a { 
    text-decoration: none;
    color: #6ABC21;
    border-bottom: 1px dashed #6ABC21;
}
#content a:hover {
    border-bottom: 1px dashed #333;
    color: #333;
}


#content blockquote p {
	background-color:#f6f6f6;
	margin:4px;
	padding:5px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
    margin:0;
	padding:0 10px 0 10px;
}

#right {
	float: right;
	background: #333;
	width: 150px;
	color: #fff;
	position: relative;
	line-height: 20px;
	word-spacing: 2px;
}

#right a { 
    text-decoration: none; color: #CCCCCC;
}

#navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navcontainer li {
    margin: 2px 0 0;
}

#navcontainer a {
    display: block;
    width:120px;
    border-left: 5px solid #6abc21;
    border-bottom: 1px solid #F0ede3;
    padding: 2px 2px 2px 10px;
    background: #333;
    text-decoration: none;
}

#navcontainer a:link, #navcontainer a:active, #navcontainer a:visited {
    color: #fff;
}

#navcontainer a:hover {
    background: #333;
    border-left: 5px solid #333;
    color: #61bc21;
}


.search {
    font-size: 30px;
    height: 32px;
}

/*******FOOT*********/
#footer {
	background: #6ABC21 ;
	text-align: center;
	color: #2D4E0E;
	font-size: 0.7em;	
	padding-bottom: 10px;
	line-height: 16px;
	clear: both;
}
.left {float:left;text-align : left;padding-left:5px;	padding-top: 2px;}
.right {float:right;text-align:right;padding-right:5px;	padding-top: 2px;}

#footer a {
  color: #333333;
}

a img {
    border: 0px;
}