
/* css flows as it comes in the page - misc at the end*/


body {
    background-color : #3366CC;
    font-family : "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
    background-image: url(../images/background.gif);
    background-repeat: repeat-y;
    background-position: center center;
 margin-bottom: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    text-align : center;
    width : 750px;
  }


body,td,th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;

  }
img, img a {border:0;}

#container {
 margin-bottom: 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    text-align : left;
    width : 750px;
  }


#Header {
    height: 20px;
    width: 745px;
    padding-top: 7px;
    background-color: #2f2f2f;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 5px;
  }

/* old or not existing in the template
#Header_Section {
    height: 86px;
    width: 750px;
    background-color: #000099;
  }


.headertext {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0066FF;
  }

*/



#Header li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    list-style-type: none;
    margin: 0px;
    display: inline;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
    float: right;
    color: #999999;
  }


#Header ul {
    margin: 0px;
    padding: 0px;
  }


#Header ul li a {
    text-decoration: none;
  }


#Header ul li a:link, #Header ul li a:visited {
    color: #999999;
  }


#Header ul li a:hover {
    color: #FFFFFF;
  }


#Navbar1 {
    height: 33px;
    width: 750px;
    background-color: #2F2F2F;
    margin: 0px;
    padding: 0px;
  }


#Navbar1 ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }


#Navbar1 ul li {
    display: inline;
    font-size:11px;
  }


#Navbar1 ul li a {
    display: block;
    float: left;
    height: 24px;
    margin: 0px;
    padding-top: 9px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight:bold;
  }


#Navbar1 ul li a:link, #Navbar1 ul li a:visited {
    color: #999999;
    font-weight:bold;
  }


#Navbar1 ul li a:hover, #Navbar1 ul li.current a {
    background-color: #000000;
    color: #D5D5D5;
    font-weight:bold;
  }


#masthead {
    height: 37px;
    width: 742px;
    background-color: #2F2F2F;
    clear: both;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 9px;
    letter-spacing: 5px;
  }


.sitename {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
  }


.sitename a, .sitename a:link, .sitename a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    text-decoration:none;
  }


.sitename a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #999999;
    text-decoration:none;
  }


.slogan {
    font-family: "Trebuchet MS", Verdana;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0px;
    font-weight: bold;
  }


#contentwrap {
    display:block;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    width : 750px;
  }


#maincontent {
    float : left;
    margin-left : 0px;
    margin-right : 4px;
    padding-left : 10px;
    padding-right : 10px;
    text-align : justify;
    width : 520px;
  }

/* old???

#content {
    width: 550px;
    height: 100%;
    float: left;
  } */










#side {
    border-left-color : #CCCCCC;
    border-left-style : dotted;
    border-left-width : 1px;
    float : right;
    margin-left : 4px;
    margin-right : 0px;
    padding-left : 10px;
    padding-right : 10px;
    width : 180px;
  }


#side li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }


#side ul {
    margin: 0px;
    padding: 0px;
    line-height: 20px;
  }


#side a {
    text-decoration: none;
  }


#side a:link,  #side a:visited {
    color: #808080;
  }


#side a:hover {
    color: #9D0000;
  }


#footer {
    height: 30px;
    width: 750px;
    background-color: #2F2F2F;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #808080;
    text-align: center;
    clear: both;
    padding-top: 20px;
 vertical-align:bottom;
  }


#footer a {
    text-decoration: none;
  }


#footer a:link, a:visited {
    color: #666666;
  }


#footer a:hover {
    color: #999999;
  }


#z-maincontent, {
    margin-left : -10px;
    padding-left : 1px;
    padding-right : 1px;
    width : 100%;
  }


.left {
    float:left;
    text-align : left;
    padding-left:5px;
  }


.right {
    float:right;
    text-align:right;
    padding-right:5px;
  }


.vegasthumb2 {
    float: right;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 0px;
  }


.pageheader {
    font-family: "Trebuchet MS", Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #0099FF;
  }


.posted {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
    float: right;
    margin-top: -15px;
    display: block;
  }


.submenu {
    font-family: "Trebuchet MS", Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #0099FF;
  }


#Lg_Image {
    height: 235px;
    width: 751px;
    background-color: #2F2F2F;
  }


.text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    line-height: 20px;
  }

