
/*#############################################################
Name: Bitter Sweet
Date: 2006-10-02
Description: Lime flavoured template with two columns.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */

* {
    margin: 0;
    padding: 0;
}


a {
    color : #682;
}


a:hover {
    color: #9A6;
}


a img {
    border: 0px;
}


body {
    background: #5F8000 url(../images/bg.gif) repeat-y center top;
    color: #333;
    font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}


input {
    color: #555;
    font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}


p,cite,code,ul {
    font-size: 1.2em;
    padding-bottom: 1.2em;
}


ul {
    margin-left: 1.2em;
}


li {
    list-style-image: url(../images/li.gif);
}


h1 {
    font-size: 1.4em;
}


blockquote {
    background: #FFF;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    color: #333;
    display: block;
    font-size: 0.9em;
    margin-bottom: 1.2em;
    padding: 6px 12px;
}


blockquote p {
    padding: 3px 0;
}


h1,h2,h3 {
    color: #654;
}

/* misc */

.clearer {
    clear: both;
}

/* structure */

#container {
    background: url(../images/bgcontainer.gif) repeat-y;
    margin: 0 auto;
    width: 702px;
}

/* top */

#top {
    background: #567300;
    font: normal 2.4em Verdana,sans-serif;
    height: 60px;
    margin: 0 auto;
    width: 630px;
}


#top a {
    color: #FFF;
    display: block;
    line-height: 60px;
    text-decoration: none;
    width: 100%;
}


#top span {
    padding-left: 24px;
}


#top a:hover {
    background: #688B00;
    color: #FFF;
}

/* header */

.header {
    background: url(../images/header.jpg) no-repeat;
    height: 180px;
    margin: 0 auto;
    width: 630px;
}


#main {
    float: left;
    width: 405px;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: justify;
}

/* item */

.item {
    clear: both;
}


.date {
    margin-left: -35px;
}


.item .date {
    background: url(../images/bgdate.gif) no-repeat;
    color: #FDD;
    float: left;
    height: 40px;
    text-align: center;
    width: 36px;
}


.item .date div {
    padding-top: 4px;
}


.item .date span {
    font: normal 1.6em serif;
}


#main h1, #main h2 {
    background: #567300;
    color: #FFF;
    line-height: 40px;
    padding-left: 16px;
}


.item .body {
    padding: 12px 18px;
}


.item h2 a {
    color: #FFFFFF;
}

/* main */

/* navigation */

#navigation {
    float: left;
    margin-left: 5px;
    width: 204px;
}


#navigation h4 {
    background: #81AC00;
    color: #FFF;
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 12px;
}


#navigation ul {
    margin: 0;
    padding: 0;
}


#navigation li {
    border-bottom: 1px solid #D5E8AD;
    list-style: none;
}


#navigation li a {
    background: #E8F6BF url(../images/bgnavigation.gif) repeat-x;
    color: #553;
    display: block;
    padding: 8px 4px 8px 12px;
    text-decoration: none;
}


#navigation li a:hover {
    background: #F0FFC6;
    color: #553;
}

#block_search_q {
    min-width : 90px !important;
    max-width : 130px;
  }

/* footer */

#footer {
    background-color: #567300 ;
    border-top: 2px solid #729700 ;
    border-left: 1px solid #739a00 ;
    border-right: 1px solid #739a00 ;
    /*background: url(../images/bgfooter.gif) repeat-x;*/
    color: #FFF;
    font-size: 1.2em;
    line-height: 1.1em;
    margin: 0 auto;
    text-align: center;
    width: 626px;
    padding-top:5px;
}


#footer a {
text-decoration: none;
    color: #FFF;
}


#footer a:hover {
text-decoration: underline;
    color: #FAFCB0;
}

.left {float:left;text-align : left;padding-left:5px;}
 .right {float:right;text-align:right;padding-right:5px;}