<div id="footer">
<div id="footercontact">
			<a href="{modurl modname=formicula}">{gt text="Contact Us"}</a><br />&nbsp;

</div>
<div id="copyrightdesign">
			<a href="{pngetbaseurl}">{gt text="Home"}</a>&nbsp;|&nbsp;
			<a href="{modurl modname=Sitemap}">{gt text="SiteMap"}</a>&nbsp;|&nbsp;
			&copy; 2006-{'Y'|date} <strong>{sitename}</strong>&nbsp;|&nbsp;
			<a href="{modurl modname=News func=view theme=rss}">{gt text="RSS Feed"}</a>
<br />
			{gt text="Design by"} <a href="http://ContentedDesigns.com">{gt text="Contented Designs"}</a>&nbsp;|&nbsp;
			{gt text="Valid"} <a href="http://validator.w3.org/check/referer">{gt text="XHTML"}</a>&nbsp;|&nbsp;
			<a href="http://jigsaw.w3.org/css-validator/check/referer">{gt text="CSS"}</a>
</div>



</div>

