<div id="page_footer">
<p>		
	<span style="float:left;padding-left:5px;">			
		&copy; 2006-{'Y'|date} <strong>{sitename}</strong>&nbsp;|&nbsp;<a href="{homepage}">{gt text="Home"}</a>&nbsp;|&nbsp;<a href="{modurl modname=Sitemap}">{gt text="SiteMap"}</a>&nbsp;|&nbsp;<a href="{modurl modname=News func=view theme=rss}">{gt text="RSS Feed"}</a>
	</span>-
	<span style="float:right;text-align:right;padding-right:5px;">
		{gt text="Design"}:&nbsp;<a href="{$stylepath}/docs/License.txt">&copy; 2006</a>,&nbsp;<a href="http://DesignsByDarren.com" />Darren Hester</a>&nbsp;|&nbsp;{gt text="Valid"} <a href="http://validator.w3.org/check/referer">{gt text="XHTML"}</a>&nbsp;|&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer">{gt text="CSS"}</a>
	</span>
</p>
</div>