
/* CSS Document */
body {
    background-color : #fff;
    background-image : url(../images/backgrounds/menu.jpg);
    background-position : top;
    background-repeat : repeat-x;
    color : #444444;
    font-family : "Trebuchet MS", Arial, Verdana;
    font-size : 12px;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    text-align : center;
}


.clear {
    clear:both;
}


#header {
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    width : 765px;
    text-align : center;
    height: 132px;
    overflow:hidden;
}


#header-container {
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0px;
    text-align : center;
    width : 765px;
}


#head-contained {
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0px;
    height:95px;
    text-align : left;
    width : 765px;
    vertical-align:middle;
}

#header img { /*87px*/
    float : left;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 30px;
    margin-top : 0;
    position : relative;
    top : 10px;
    vertical-align:bottom;
}


#header span#sitename a { /*78px*/
    float:left;
    color : #000;
    font-family : Garamond, Georgia, "Times New Roman", Times, serif;
    font-size : 46px;
    font-weight : normal;
    line-height:30px;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0px;
    width : 480px;
    text-align : left;
    text-decoration:none;
    position : relative;
    top : 48px;
}


#header span#sitename a :hover {
    text-decoration:none;
}


#header span#p { /*76px*/
    clear : none;
    color : #666666;
    float : right;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 11px;
    border-left: #ccc solid 1px;
    height:40px;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-bottom : 15px;
    padding-left : 20px;
    padding-right : 10px;
    padding-top : 40px;
    position : relative;
    text-align : left;
    top : 0px;
}



#header a {
    color:#43CBAE;
    text-decoration:none;
}


#header a:hover {
    border-bottom:1px dotted #333;
}

#headnav {
    clear:both;
    margin-bottom : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 22px;
    position : relative;
    top : 0px;
    text-align : left;
    width : 765px;
    min-height:0px;
    max-height:40px;
}


#menu {
    float : right;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
}

#menu li {
    float:left;
    display:block;
    list-style:none;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size : 11px;
    font-weight:bold;
    font-variant:small-caps;
}


#menu li a {
    display:block;
    width:92px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    background-image:url(../images/backgrounds/menua.jpg);
    background-repeat:no-repeat;
    padding:5px 0 9px 0;
}


#menu li a:hover, #menu li.current a {
    background-image:url(../images/backgrounds/menuahover.jpg);
    border:none;
    color: #AFEBFF;
    padding:6px 0 8px 0;
}


#container {
    clear:both;
    width:770px;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 15px;
    text-align : left;
}


#sidebar {
    float:left;
    width:220px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#777;
    line-height:20px;
    border-bottom:1px solid #eee;
}


#sidebar h1 {
    color:#CB43A5;
    font-size:16px;
    font-family:"Trebuchet MS", Arial, Verdana;
}


#sidebar ul {
    margin:0;
    padding:0;
}


#sidebar li {
    margin:0;
    padding:0;
    list-style:none;
}


#sidebar li a {
    display:block;
    padding:5px 5px 5px 10px;
    margin:0 0 1px 0;
    background-color:#f6f6f6;
    border-right:10px solid #fff;
    color:#666;
    text-decoration:none;
    border-left:2px solid #ddd;
}


#sidebar li a:hover {
    background-color:#eee;
    color:#333;
    border-right:10px solid #eee;
}


#sidebar p {
    padding: 0 30px 0 5px;
    margin:20px 0 20px 0;
}


#sidebar img {
    padding:5px;
    border:5px solid #eee;
    float:left;
    margin:10px 10px 0px 0px;
}


#sidebar input {
    width:200px;
    background-color:#f6f6f6;
    border-top:1px solid #eee;
    border-right:1px solid #f9f9f9;
    border-bottom:1px solid #f9f9f9;
    border-left:1px solid #eee;
    font-family:"Trebuchet MS", Tahoma, Verdana;
    color:#ccc;
    padding:4px;
    margin:3px;
}


#sidebar input:hover {
    border:1px solid #ccc;
    color:#666;
}


#sidebar input:focus {
    border:1px solid #999;
    color:#333;
}


#content {
    margin:0 0 0 0px;
    border-left:1px solid #eee;
    width:525px;
    float:right;
}


#description {
    background-color : #FFFFFF;
    background-image : url(../images/backgrounds/description.jpg);
    background-position : top;
    background-repeat : repeat-x;
    border-bottom-color : #fff;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #fff;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #fff;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #fff;
    border-top-style : solid;
    border-top-width : 1px;
    clear : none;
    color : #404040;
    float : right;
    font-family : "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
    font-size : 10px;
    line-height : 15px;
    margin-top : 10px;
    padding-left : 10px;
    padding-right : 10px;
    width : 505px;
}


#content h1 {
    font-family:Garamond, Georgia, "Times New Roman", Times, serif;
    font-size:34px;
    font-weight:normal;
    color:#000;
    letter-spacing:-1px;
    background-image:url(../images/backgrounds/h1.jpg);
    background-position:left;
    background-repeat:no-repeat;
    border-top:2px solid #eee;
}


#content h2 {
    font-family:Garamond, Georgia, "Times New Roman", Times, serif;
    font-size:24px;
    font-weight:normal;
    color:#000;
    letter-spacing:-1px;
    padding:15px 15px 15px 40px;
}


#content h3 {
    font-family:"Trebuchet MS", Tahoma, Verdana;
    font-size:14px;
    font-weight:normal;
    color:#008CBA;
    letter-spacing:-1px;
    padding:0px 15px 0px 40px;
    margin:0;
}


#content p {
    line-height:20px;
}


#content ul {
    margin: 10px 10px 10px 30px;
}


#content li {
    list-style:none;
    background-image:url(../images/backgrounds/li.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0px 5px 0px 20px;
    margin:15px 0 15px 0;
}


#content input {
    width:300px;
    background-color:#f6f6f6;
    border-top:1px solid #eee;
    border-right:1px solid #f9f9f9;
    border-bottom:1px solid #f9f9f9;
    border-left:1px solid #eee;
    font-family:"Trebuchet MS", Tahoma, Verdana;
    color:#ccc;
    padding:4px;
    margin:3px 3px 3px 50px;
}


#content input:hover {
    border:1px solid #ccc;
    color:#666;
}


#content input:focus {
    border:1px solid #999;
    color:#333;
}


#content textarea {
    width:300px;
    background-color:#f6f6f6;
    border-top:1px solid #eee;
    border-right:1px solid #f9f9f9;
    border-bottom:1px solid #f9f9f9;
    border-left:1px solid #eee;
    font-family:"Trebuchet MS", Tahoma, Verdana;
    color:#ccc;
    padding:4px;
    margin:3px 3px 3px 50px;
}


#content textarea:hover {
    border:1px solid #ccc;
    color:#666;
}


#content textarea:focus {
    border:1px solid #999;
    color:#333;
}


.articlemenu {
    border-top:1px solid #eee;
    margin:50px 0 0 0;
    padding:0;
    text-align:right;
}


#content a,#content button img {
    color:#333;
    background-color:#eee;
    border-bottom:1px solid #ccc;
    padding:0 4px 0 4px;
    text-decoration:none;
}


#content a:hover, #content button:hover {
    background-color:#ddd;
    border-bottom:1px solid #bbb;
    color:#000;
}


#content img {
    float:right;
    border:none;
    margin:10px 10px 10px 20px;
    padding:5px;
    background-color:#fff;
    border:3px solid #eee;
}


#content a img, #content button img {
    float:none;
    border:none;
    margin:0px;
    padding:0px;
    border:0px;
}


#footer {
    margin-bottom : 20px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 10px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0px;

    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;

    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999;
    clear:both;
    width:765px;
    text-align:center;
}


#footer a {
    color:#666;
}


#footercontent {
    width:755px;
    margin-bottom : 5px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
}
