		<div id="header">
			<form action="">
			<input value="Search" />
			</form>
		<h1 id="sitename"><a href="{pngetbaseurl}" title="{gt text="Home"}">{sitename}</a></h1>
		<h2 id="slogan">{slogan}</h2>
			
			<ul id="nav">
		<li {if $pagetype eq 'home'} class="current" {/if}><a href="{pngetbaseurl}">{gt text="Home"}</a></li>
		<li {if $module eq 'Pages'} class="current" {/if}><a href="{modurl modname=Pages}">{gt text="Pages"}</a></li>
		<li {if $module eq 'News'} class="current" {/if}><a href="{modurl modname=News}">{gt text="News"}</a></li>
		<li {if $module eq 'Dizkus'} class="current" {/if}><a href="{modurl modname=Dizkus}">{gt text="Forums"}</a></li>
		<li {if $module eq 'formicula'} class="current" {/if}><a href="{modurl modname=formicula}">{gt text="Contact"}</a></li>
			</ul>
			<ul id="subnav">
				<li>Subnav:</li>
				<li><a href="#Intro"><em>I</em>ntro</a></li>
				<li><a href="#About"><em>A</em>bout</a></li>
				<li><a href="#Examples"><em>E</em>xamples</a></li>
				<li><a href="#Examples"><em>C</em>ontact</a></li>
			</ul>
		</div>
