/*
My First Template to Owd
COLLIN GRASLEY - 2006

*/



body {
    margin:0px 0;
    padding:0;
    background:url(../images/bodybg.gif) repeat;
    font: 74% Arial, Sans-Serif;
    color:#ccc;
    line-height: 1.4em;
}


.content {
    background: #101010;
    color:#a3b2ba;
    margin: 0 auto;
    padding: 0;
    width: 800px;
    border-left:6px solid #000;
    border-right:6px solid #000;
}


.img {
    padding: 0 12px 8px 0;
    float: left;
}


.img2 {
    padding: 0 0 3px 3px;
    float: right;
}

/*
Here is the start of the header Information
*/


#top {
    color : #999;
    font-size : 9px;
    line-height : 9px;
    margin-bottom : 5px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-bottom : 10px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 10px;
}


#top a {
    color: #999;
}


#login {
    float:left;
}


#logout {
    float:left;
}


#snacktime {
    float:right;
}


#header {
    margin: 0;
    width: 800px;
    background: url(../images/head.jpg) no-repeat;
    height: 127px;
    color:#a3b2ba;
}


#header .info {
    padding: 25px 0 0 30px;
}


#header h1 {
    font-family: Geneva, Arial, Helvetica, sans-serif ;
    color:#000;
    font-size: 29px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


#header h2 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    background-image: none;
    color:#000;
    margin: 0;
    padding: 6px 0 0 2px;
}

/* */


#subheader {
    background: inherit;
    width: 800px;
    height: 35px;
    color: #FFF;
}


#subheader .padding {
    padding: 10px 15px 10px 15px;
}


#subheader h2 {
    color:#0088af;
}


#subheader a {
    color: #FECF5F;
}

/*  Top Navigation */


#menu {
    background: inherit;
    width: 780px;
    height: 38px;
    margin: 0;
    padding: 0;
}


#menu ul {
    margin:0;
    list-style:none;
    padding: 5px 0 0 20px;
}


#menu a, #nav strong, #nav span {
    float:left;
    display:block;
    background: #101010;
    border-top: 4px solid #e10085;
    color:#999;
    padding: 5px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
}


#menu a {
    float:none;
}


#menu li {
    float:left;
    background:inherit;
    margin:2px;
    padding:0 0 0 0px;
}


#menu a:hover {
    float:left;
    display:block;
    background: #151515;
    border-top: 4px solid #0088af;
    color:#fff;
    padding: 5px;
    text-decoration:none;
}


#menu .padding {
    padding: 5px 0 0 10px;
    font-weight: bold;
    color: #808080;
}

/**/


.nav {
    text-align: left;
    color: #808080;
    padding: 20px 0 0 0px;
    width: 244px;
}


.nav li {
    margin: 5px 0 5px 0px;
    padding: 0px 0 0 0px;
    border-bottom: 1px dotted #888;
    list-style: none;
}


.nav li a {
    color:#999999;
    font-weight:bold;
    text-decoration: none;
    padding: 5px 0 1px 5px;
    background: #101010;
    display: block;
    margin-bottom: 2px;
}


.nav li a:hover {
    color: #fff;
    text-decoration: none;
    background:#212121;
    display: block;
    margin-bottom: 2px;
}

/* The meat and potatoes*/


#main {
    background: inherit;
    width: 800px;
    margin: 0 ;
    color: #808080;
}


#main .right_side {
    background-attachment : inherit;
    background-color : inherit;
    background-image : inherit;
    background-position : inherit;
    background-repeat : inherit;
    float : right;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 30px;
    padding-right : 5px;
    padding-top : 0px;
    width : 215px;
}


#main .right_side .hitems {
    margin: 0;
    padding: 0;
}


#main .right_side .hitems ul {
    margin: 5px 0 5px 0;
    padding : 0;
    color: #808080;
}


#main .right_side .hitems li {
    margin: 0 0 2px 20px;
    padding: 0 0 0 0px;
    color: #555;
}


#main .left_side {
    float: left;
    width: 500px;
    background: inherit;
    padding:15px 15px 0 15px;
    margin:0;
}


#main h3 {
    font: 14px Arial, Sans-Serif;
    text-transform:uppercase;
    margin: 2px 0 10px 0px;
    padding: 0;
    color: #999;
    background: inherit;
    border-bottom: 1px dotted #e10085;
}


#main .box {
    background: #efefef;
    padding: 5px;
    border: 1px solid #ccc;
}


#main .right_side ul {
    margin: 5px 0 5px 0;
    padding : 0;
    list-style : none;
    border-bottom: 0px solid #eee;
    list-style-type: square;
    color: #a90000;
}


#main .right_side li {
    margin: 0 0 2px 2px;
    padding: 0 0 0 0px;
    color: #555;
}


#main .right_side  .padding {
    margin: 0 0 20px 2px;
    padding: 0 0 0 0px;
    color: #808080;
}

/* the footer info*/


#footer {
    clear:both;
    height: 45px;
    color: #808080;
    background:inherit;
    border-top:1px dotted #888;
    font-size:90%;
    padding: 0;
    text-align:left;
}


#footer .info {
    padding: 20px 0px 0px 5px;
}


#footer .right {
    float:right;
    clear:right;
    text-align:right;
}


#footer a {
    color: #e10085;
}

/* Odds and ends*/




ul {
    margin-left: 0;
    padding-left: 5px;
    list-style : square;
}


li {
    margin: 0 0 2px 15px;
    padding: 0 0 0 0px;
    color: #555;
}


p {
    margin: 0 0 5px 0;
    padding: 0;
    color: #808080;
    background: inherit;
}


a {
    color:#e10085 ;
    background: inherit;
    text-decoration:none;
}


a:hover {
    color:#0088af;
    background: inherit;
    text-decoration:underline;
}


h1 {
    padding:0;
    margin:0;
    color:#0088af;
    background: inherit;
    font: bold 23px Arial, Sans-Serif;
    letter-spacing: -1px;
}


h1 a {
    color:#0088af;
    background: inherit;
}


h2, h4 {
    color:#0088af;
    font-size:22px;
    font-weight:bold;
    margin: 5px 0 5px 0px;
    padding:0 0 0 2px;
}


h2 a, h4 a {
    background:inherit;
    color:#0088af;
}


h2 a:hover, h4 a:hover {
    background:inherit;
    color: #68ADD5;
    text-decoration:none;
}


.date {
    color:#e10085 ;
    background:inherit;
    text-align: right;
    margin: 4px 0 5px 0;
    padding: 0.4em 0 0 0;
    border-top: 1px dotted #eee;
}

