<div class="cnav">
	<ul id="cnav">
		<li><strong>{gt text="Style Switcher"}</strong></li>
		<li id="black"><a href="#" onclick="setActiveStyleSheet('black'); return false;" title="{gt text="Black"}"><img src="../../images/black/icon.png" width="10" height="10"/></a></li>
		<li id="blue"><a href="#" onclick="setActiveStyleSheet('blue'); return false;" title="{gt text="Blue"}"><img src="../../images/blue/icon.png" width="10" height="10"/></a></li>
		<li id="green"><a href="#" onclick="setActiveStyleSheet('green'); return false;" title="{gt text="Green"}"><img src="../../images/green/icon.png" width="10" height="10"/></a></li>
		<li id="pink"><a href="#" onclick="setActiveStyleSheet('pink'); return false;" title="{gt text="Pink"}"><img src="../../images/pink/icon.png" width="10" height="10"/></a></li>
		<li id="purple"><a href="#" onclick="setActiveStyleSheet('purple'); return false;" title="{gt text="Purple"}"><img src="../../images/purple/icon.png" width="10" height="10"/></a></li>
		<li id="red"><a href="#" onclick="setActiveStyleSheet('red'); return false;" title="{gt text="Red"}"><img src="../../images/red/icon.png" width="10" height="10" /></a></li>
		<li id="tan"><a href="#" onclick="setActiveStyleSheet('tan'); return false;" title="{gt text="Tan"}"><img src="../../images/tan/icon.png" width="10" height="10" /></a></li>
		<li id="yellow"><a href="#" onclick="setActiveStyleSheet('yellow'); return false;" title="{gt text="Yellow"}"><img src="../../images/yellow/icon.png" width="10" height="10" /></a></li>
		<li id="daisyrae"><a href="#" onclick="setActiveStyleSheet('daisyrae'); return false;" title="{gt text="Daisy Rae"}"><img src="../../images/daisyrae/icon.gif" width="10" height="10" /></a></li>
	</ul>
</div>