  <div id="header"> 
    <div id="headerimg"> 
      <h1 class="pagetitle"><a href="{homepage}" title="{gt text="Home"}">{sitename}</a></h1> 
      <div class="slogan">{slogan}</div> 
    </div> 
    <ul id="primarylink"> 
	<li {if $pagetype eq 'home'} class="current" {/if}><a href="{pngetbaseurl}">{gt text="Home"}</a></li>
	<li {if $module eq 'Pages'} class="current" {/if}><a href="{modurl modname=Pages}">{gt text="Pages"}</a></li>
	<li {if $module eq 'News'} class="current" {/if}><a href="{modurl modname=News}">{gt text="News"}</a></li>
	<li {if $module eq 'Dizkus'} class="current" {/if}><a href="{modurl modname=Dizkus}">{gt text="Forums"}</a></li>
	<li {if $module eq 'formicula'} class="current" {/if}><a href="{modurl modname=formicula}">{gt text="Contact"}</a></li>
    </ul>
  </div>
  <hr />