<div id="header">
	<div id="header-container">
		<span id="head-contained">
			<img id="logo" width="70" height="77"  src="{$imagepath}/logo.jpg" alt="{sitename}&nbsp;{gt text="Logo"}" />

			<span id="sitename"><a href="{homepage}" title="{gt text="Home"}">{sitename}</a></span>


			<span id="p">{gt text="Get in touch"}:&nbsp;<a href="{modurl modname=formicula}">{gt text="Contact Us"}</a>
			<br />
			<a href="#container" style="padding-right:10px; background-image:url({$imagepath}/backgrounds/downarrow.gif); background-position:right; background-repeat:no-repeat;">Skip to Content</a></span>

		</span>

	</div>
</div>


<div id="headnav">
			<ul id="menu">
		<li {if $pagetype eq 'home'} class="current" {/if}><a href="{homepage}">{gt text="Home"}</a></li>
		<li {if $module eq 'Pages'} class="current" {/if}><a href="{modurl modname=Pages}">{gt text="Pages"}</a></li>
		<li {if $module eq 'News'} class="current" {/if}><a href="{modurl modname=News}">{gt text="News"}</a></li>
		<li {if $module eq 'Dizkus'} class="current" {/if}><a href="{modurl modname=Dizkus}">{gt text="Forums"}</a></li>
		<li {if $module eq 'formicula'} class="current" {/if}><a href="{modurl modname=formicula}">{gt text="Contact"}</a></li>
			</ul>
</div>
			<br class="clear" />

	