/* CSS Document */
body {
    background-color : #fff;
    background-image : url(../images/backgrounds/body.jpg);
    background-position : top;
    background-repeat : repeat-x;
    color : #666;
    font-family : Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size : 78%;
    margin-bottom : 5px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0px;
    text-align : center;
    width : 765px;
}

a img {
    border: 0px;
}


h2 {
    font:120% Verdana;
    color:#333;
    border-bottom:1px dotted #ccc;
}


blockquote {
    margin:0;
    padding:5px 15px 5px 15px;
    background:#f6f6f6;
}


a {
    color:#333;
    border-bottom:1px solid #ccc;
    text-decoration:none;
}


a:hover {
    border-bottom:1px solid #999;
}



#top {
    background-image : url(../images/backgrounds/top.jpg);
    background-position : top;
    background-repeat : no-repeat;
    color : #fff;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 15px;
    padding-left : 25px;
    padding-right : 25px;
    padding-top : 12px;
    text-align : right;
    width : 715px;
}


#top a {
    padding:0 10px 0 10px;
    color:#fff;
    border:none;
}


#top a:hover {
    text-decoration:none;
}


#top b {
    float:left;
    font-weight:normal;
}


#top b a {
    border-left:1px dotted #ccc;
    border-right:none;
    border:none;
}


#header {
    height : 100px;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 0px;
    width : 725px;
}


#sitename {
    bottom-color : #Fff;
    bottom-style : solid;
    bottom-width : 0px;
    margin-bottom : 10px;
    margin-left : 20px;
    margin-right : 20px;
    margin-top : 5px;
    padding-bottom : 5px;
    padding-left : 5px;
    padding-right : 15px;
    padding-top : 10px;
    text-align : right;
    text-decoration : none;
}


#slogan {
    bottom-color : #Fff;
    bottom-style : solid;
    bottom-width : 0px;
    margin-bottom : 5px;
    margin-left : 20px;
    margin-right : 20px;
    margin-top : 10px;
    padding-bottom : 5px;
    padding-left : 5px;
    padding-right : 35px;
    padding-top : 10px;
    text-align : right;
    text-decoration : none;
}


#container {
    background-image : url(../images/backgrounds/header.jpg);
    background-position : top;
    background-repeat : no-repeat;
    display : block;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 10px;
    text-align : left;
    width : 765px;
}


#menu {
    background-image : url(../images/backgrounds/menu.jpg);
    background-position : top;
    background-repeat : repeat-x;
    border-bottom-color : #F7D45E;
    border-bottom-style : solid;
    border-bottom-width : 0px;
    border-left-color : #F7D45E;
    border-left-style : solid;
    border-left-width : 2px;
    border-right-color : #F7D45E;
    border-right-style : solid;
    border-right-width : 2px;
    border-top-color : #F7D45E;
    border-top-style : solid;
    border-top-width : 0px;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-left : 16px;
    padding-right : 16px;
    text-align : left;
    width : 706px;
}


#menu #nav {
    margin:0;
    padding:0;
    float:left;
}


#nav li {
    margin:0;
    pading:0;
    list-style:none;
    float:left;
}


#nav li a {
    display:block;
    width:100px;
    text-align:center;
    margin:0 1px 0 0;
    background-image:url(../images/backgrounds/menu_link.jpg);
    background-position:left;
    background-repeat:no-repeat;
    color:#ccc;
    font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
    padding:55px 0 23px 0;
    border:none;
}


#nav li a em {
    font-style:normal;
    text-decoration:underline;
}


#nav li a.last {
    margin:0;
}


#nav li a:hover, #nav li.current a {
    background-image:url(../images/backgrounds/menu_link.jpg);
    background-position:right;
    color:#fff;
}


#nav li a.active {
    background-image:url(../images/backgrounds/menu_link.jpg);
    background-position:right;
    color:#fff;
}


#contant-wrap {
    background-color : #ffffff;
    display : block;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 10px;
    text-align : left;
    width : 765px;
}


#sidebar {
    /* : ;
    background-image : url(../images/backgrounds/sidebar.jpg);
    background-position : top;
    background-repeat : no-repeat;
    */ color : #777;
    float : right;
    font-size : 90%;
    line-height : 18px;
    margin-bottom : 0;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 0;
    padding-bottom : 20px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 7px;
    width : 250px;
    word-spacing : -1px;
}


#sidebar h4 {
    font-family:Century Gothic, Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#F2C21C;
    font-weight:normal;
    margin:10px 0 10px 0;
    padding-left : 20px;
}


#sidebar h4.first {
    color:#fff;
    margin:10px 0 35px 0;
}


#content {
    background-image : url(../images/backgrounds/content.jpg);
    background-position : top right;
    background-repeat : no-repeat;
    float : left;
    margin-bottom : 0;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 0;
    padding-bottom : 10px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 10px;
    width : 475px;
}


#content {
    line-height:20px;
    word-spacing:2px;
}


#content h1 {
    font-family:Trebuchet MS, sans-serif;
    font-size:24px;
    color:#333;
    font-weight:normal;
    margin:30px 0 35px 0;
    letter-spacing:-2px;
    border-bottom:2px solid #F4C833;
    padding:0 0 2px 0;
}


#content h1 a {
    color:#333;
    text-decoration:none;
    border:none;
}


#content h1 a:hover {
    color:#666;
}


#content p {
    text-indent:15px;
    text-align: justify;
}

#footer {
    clear:both;
    padding:5px;
    border-top:2px solid #f6f6f6;
    text-align:center;
    margin:20px auto 0 auto;
    width:755px;
    font-size:80%;
}



.clear {
    clear:both;
}



#sidebar .linkroll {
    margin:10px 0 10px 0;
    padding:0;
    border-top:1px solid #eee;
}


.linkroll li {
    margin:1px;
    padding:0 !important;
    padding:1px;
    list-style:none;
}


.linkroll li a {
    padding:2px 2px 2px 18px;
    display:block;
    margin:0;
    color:#777;
    text-decoration:none;
    border-bottom:1px solid #eee;
    background-image:url(../images/backgrounds/document.gif);
    background-position:left;
    background-repeat:no-repeat;
}


.linkroll li a:hover {
    border-bottom:1px solid #ccc;
    background-color:#fbfbfb;
    color:#444;
}




/*******************************************************************************/
/* Styles for zikula
/*******************************************************************************/

.z-block h4 a img{
float:right;
}


/* zikula block styles */
.z-bkey-extmenu ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 15px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-decoration:none;
    width : 140px;
}

p.extmenuadmin a {
    padding-left: 25px;
    text-decoration:none;
}


.z-blockposition-left  #block_search_q, .z-blockposition-right #block_search_q {
    min-width : 90px !important;
    max-width : 130px;
}


.z-bkey-adminnav ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 15px;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 130px;
}
.z-bkey-adminnav ul ul li {
    list-style-image : none;
    list-style-type : circle;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 5px;
    padding-right : 0;
    padding-top : 0;
    width : 130px;
}

/* block template styles */
.yellow-head- {
    color:#777;
    line-height:18px;
    font-size:90%;
    word-spacing:-1px;
}


.yellow-head h4 {
    background-color : #F2C21C;
    background-image : url('../images/backgrounds/sidebar.jpg');
    background-position : top;
    background-repeat : no-repeat;
    color : #ffffff !important;
    font-family : Century Gothic, Verdana, Arial, Helvetica, sans-serif;
    font-size : 24px;
    font-weight : bold;
    height : 40px;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-left : 20px;
    padding-top : 20px;
}

div#z-maincontent.z-module-postcalendar form.z-form div div.z-buttons.z-formbuttons {
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}

div#z-maincontent.z-module-content form#FormForm.z-form div.content-form div.z-buttons.z-formbuttons {
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}



div#z-maincontent.z-module-content form#FormForm.z-form div.content-form div.z-buttons {
    margin-left : auto;
    margin-right : auto;
    text-align: center;
}

#z-maincontent.z-module-content form#FormForm.z-form div.content-form div.z-buttons.z-formbuttons b input {

}



/******************************************************************************
* Buttons styles
*******************************************************************************/

.z-button,
.z-buttons a,
.z-buttons a:link,
.z-buttons a:visited,
.z-buttons input,
.z-buttons button {
    font-size: .9em !important;
    line-height:110% !important;
    font-family:Verdana, Tahoma, Arial,sans-serif !important;
    text-decoration: none !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 2px 3px 3px 3px !important;
}

/******************************************************************************
* Buttons based on HTML tag: Input
*******************************************************************************/

.z-buttons input.z-bt-ok,
.z-buttons input.z-bt-cancel,
.z-buttons input.z-bt-preview,
.z-buttons input.z-bt-new,
.z-buttons input.z-bt-save,
.z-buttons input.z-bt-edit,
.z-buttons input.z-bt-archive,
.z-buttons input.z-bt-delete,
.z-buttons input.z-bt-icon {
    padding: 5px 7px 5px 32px !important;
}

.z-buttons input.z-bt-ok.z-bt-small,
.z-buttons input.z-bt-cancel.z-bt-small,
.z-buttons input.z-bt-preview.z-bt-small,
.z-buttons input.z-bt-new.z-bt-small,
.z-buttons input.z-bt-save.z-bt-small,
.z-buttons input.z-bt-edit.z-bt-small,
.z-buttons input.z-bt-archive.z-bt-small,
.z-buttons input.z-bt-delete.z-bt-small,
.z-buttons input.z-bt-icon.z-bt-small {
    margin: 0 1px 0 0 !important;
    padding: 3px 8px 4px 27px !important;
}

.z-buttons input.z-bt-ok {
    background: url("../../../images/icons/extrasmall/button_ok.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}
.z-buttons input.z-bt-ok:hover {
    background: url("../../../images/icons/extrasmall/button_ok.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-ok:active {
    background: url("../../../images/icons/extrasmall/button_ok.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-cancel {
    background: url("../../../images/icons/extrasmall/button_cancel.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-cancel:hover {
    background: url("../../../images/icons/extrasmall/button_cancel.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-cancel:active {
    background: url("../../../images/icons/extrasmall/button_cancel.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-preview {
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-preview:hover {
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-preview:active {
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-new {
    background: url("../../../images/icons/extrasmall/filenew.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-new:hover {
    background: url("../../../images/icons/extrasmall/filenew.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-new:active {
    background: url("../../../images/icons/extrasmall/filenew.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-save {
    background: url("../../../images/icons/extrasmall/filesave.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-save:hover {
    background: url("../../../images/icons/extrasmall/filesave.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-save:active {
    background: url("../../../images/icons/extrasmall/filesave.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-edit {
    background: url("../../../images/icons/extrasmall/edit.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-edit:hover {
    background: url("../../../images/icons/extrasmall/edit.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-edit:active {
    background: url("../../../images/icons/extrasmall/edit.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-archive {
    background: url("../../../images/icons/extrasmall/folder.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-archive:hover {
    background: url("../../../images/icons/extrasmall/folder.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-archive:active {
    background: url("../../../images/icons/extrasmall/folder.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

.z-buttons input.z-bt-delete {
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #dfdfdf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #ffffff, #dfdfdf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#ffffff, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-delete:hover {
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #cfcfcf 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #fafafa, #cfcfcf) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cfcfcf)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#fafafa, #cfcfcf) !important; /*CSS3*/
}

.z-buttons input.z-bt-delete:active {
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #fafafa 10px 50% no-repeat !important; /*non-CSS3 browsers*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #cfcfcf, #fafafa) repeat scroll 0 0 transparent !important; /*gecko*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#fafafa)) repeat scroll 0 0 transparent !important; /*webkit*/
    background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#cfcfcf, #fafafa) !important; /*CSS3*/
}

/* Old input image buttons. Backward compatibility < Zikula 1.3 */

.z-buttons input[type=image] {
    float: left !important;
}








/*******************************************************************************/
/* Styles for z-menulinks
/*******************************************************************************/
ul.z-menulinks li {
    font-size: 68%;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-weight: bold !important;
}

/*******************************************************************************/
/* Styles for the old module menus based on the SPAN tag
/*******************************************************************************/

.z-menuitem-title {
    background: url("../../../images/global/menubg_grey.gif") repeat-x scroll 0 0 transparent !important;
    font-weight: bold !important;
    font-size: 85%;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/******************************************************************************
* Toggle styles
*******************************************************************************/

.z-toggle {
    background-image: url("../images/toggle-bk.gif") !important;
}
.z-toggle-link,
.z-toggle-link:link,
.z-toggle-link:visited {
    background-image: url("../images/toggle-bk.gif") !important;
}
