	<div id="footer">
	<span style="float:left;text-align : left;padding-left:5px;>&copy; 2006-{'Y'|date} {sitename} | <a href="{modurl modname='News' type='user' func='view' theme='rss'}">{gt text="RSS FEED"}&nbsp;<img class="icon" src="{$imagepath}/rss.gif" alt="RSS Feed" /></a></span>

<span style="float:right;text-align:right;padding-right:5px;">{gt text="DESIGN BY"} <a href="http://www.jdavidmacor.com">{gt text="SUPER J MAN"}</a> | <a href="http://validator.w3.org/check?uri=referer">{gt text="XHTML"}</a></span></span>
	</div>
		{nocache}{pagerendertime}{/nocache}