
/* Thank you (www.iseeyou-designs.com) for your help with the mouseovers ... This CSS style sheet was developed by www.studio7designs.com  ... drop me off and email if you have any questions aran@studio7designs.com  Have fun! */

html {
    padding:0;
    margin:0;
}

body {
    background-color : #ffffff;
    background-image : url('../images/bg.jpg');
    background-position : top center;
    background-repeat : repeat-x;
    color : #999999;
    font-family : "Trebuchet MS",arial,sans-serif;
    font-size : 62.5%;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align : center;
    width : 800px;
}

h1 {
    font-family:"Trebuchet MS",arial,sans-serif;
    font-size:2.6em;
    font-weight:normal;
    background:#fff url(../images/booksmall.gif) no-repeat bottom right;
    padding:0 0 10px 50px;
    margin:20px 5px 5px 5px;
}

h3 {
    color:#9aba11;
    font-family:geneva,arial,sans-serif;
    font-weight:normal;
    text-transform:uppercase;
    word-spacing:4px;
    letter-spacing:3px;
    font-size:0.8em;
    font-weight:bold;
    padding:0 2px;
    margin:0;
}

h2 {
    font-family:"Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
    font-size:1.4em;
    margin:auto;
    text-transform:capitalize;
}

h2 span {
    background:#fff url(../images/booksmall.gif) no-repeat bottom right;
    padding:10px 50px 0px 0;
    margin:auto;
    line-height:2em;
}

p {
    line-height:1.8em;
}

a {
    text-decoration:none;
    color:#72a12d;
}

a:hover {
    color:#ccc;
    text-decoration:underline;
}

a img {
 border:none !important;
}

#blogtitle {
    /* background : url(../images/favicon.png) no-repeat;
    padding-left : 20px;
    */ height : 25px;
    margin-bottom : 0px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0px;
    padding-bottom : 0px;
    padding-right : 0;
    padding-top : 5px;
    text-align : left;
    width : 800px;
}


#border {
    clear:both;
    background-color : transparent;
    margin-bottom : 5px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align : center;
    width : 800px;
    top:0px;
    left:auto;
}

#small {
    margin-bottom : 0px;
    margin-top : 0px;
}

#sitename {
    float:left;
    font-size : 18px;
    text-align : left;
    padding-left:15px;
    margin-bottom : 0px;
    margin-top : 0px;
}

#slogan {
    float:left;
    font-size : 18px;
    text-align:left;
    padding-right:15px;
    margin-bottom : 0px;
    margin-top : 0px;
}

#container {
    font-size : 1.2em;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-bottom : 10px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    text-align : left;
    width : 800px;
}

#right-col {
    background-image : url(../images/menu.gif);
    background-position : top center;
    background-repeat : no-repeat;
    color : #999999;
    float : right;
    font-family : "Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
    font-size : 1.0em;
    letter-spacing : 0px;
    line-height : 1.5em;
    margin-bottom : 10px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 5px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    text-align : left;
    width : 210px;
}

#right-col .z-block form input {
    margin-bottom : 10px;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 0px;
    padding-bottom : 0px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 0px;
}

#right-col .z-block {
    margin-bottom : 5px;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 5px;
    padding-bottom : 0px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 0px;
}

#right-col a {
    border-bottom: none;
    color:#999999;
}

#right-col .z-block h4 {
    padding-left : 5px;
    text-align: left;
}

p.extmenuadmin {
    padding-left: 30px;
}

#right-col .z-block ul {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom : 5px;
    margin-left : 10px;
    margin-right : 0px;
    margin-top : 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 2px;
}

#right-col .z-block ul li {
    list-style-type: square;
    list-style-position: inside;
    margin-left: 0px;
}

#right-col .z-block ul ul li {
    margin-left: 0px;
    list-style-type: circle;
    list-style-position: inside;
}

#content {
    background-color: #ffffff;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 5px;
    padding-left : 0px;
    padding-right : 0px;
    padding-top : 0px;
    width: 585px;
    float: left;
    text-align : center;
}

#maintext {
    background-color : #ffffff;
    float : left;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 5px;
    margin-top : 15px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 5px;
    text-align : justify;
    width : 570px;
}

#maintext img, #maintext2 img {
    display:inline;
    color:#303030;
    border: 2px dashed #CCCCCC;
    background-color: #FFFFFF;
    top: 0px;
    clip: rect(0px,auto,auto,auto);
    padding: 2px;
}

#maintext .z-block {
    margin-bottom : 5px;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 0px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 5px;
}

#maintext2 {
    background-color: #ffffff;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 5px;
    padding-left : 5px;
    padding-right : 0px;
    padding-top : 0px;
    width: 580px;
    float: left;
    text-align : center;
}

#splitblocks {
    background-color : #ffffff;
    float : left;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    text-align : center;
    width : 580px;
}

#splitleft {
    background-color : #ffffff;
    background-image : url(../images/splitblock.gif);
    background-position : top center;
    background-repeat : no-repeat;
    float : left;
    font-size : 11px;
    margin-bottom : 5px;
    margin-left : 13px;
    margin-right : 5px;
    margin-top : 0px;
    padding-bottom : 5px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 5px;
    text-align : justify;
    width : 260px;
}

#splitright {
    background-image : url(../images/splitblock.gif);
    background-position : top center;
    background-repeat : no-repeat;
    background-color: #ffffff;
    margin:0px 0 0 0;
    width: 260px;
    float: left;
    font-size : 11px;
    margin-bottom : 5px;
    margin-left : 8px;
    margin-right : 10px;
    margin-top : 0px;
    padding-bottom : 5px;
    padding-left : 5px;
    padding-right : 5px;
    padding-top : 5px;
    text-align : justify;
}

#splitleft .z-block, #splitright .z-block {
    padding-left : 10px;
    padding-right : 10px;
}

#splitleft .z-block h4, #splitright .z-block h4 {
    padding-left : 10px;
    padding-right : 10px;
}

#footer {
    clear: both;
    background-color: #ffffff;
    border-top: 1px solid #86C32A;
    float: left;
    font-size : 11px;
    margin-top:10px;
    padding-top: 5px;
    width: 100%;
}

#footer a {
    background-color:#fff;
    border:0;
}

#footer a:link, a:visited {
    color:#b8ce83;
}

#footer a:hover, a:active {
    color:#999999;
}

/* ~~~~~~~~~ PROPS FOR THE MENU GO OUT TO EXPLODING-BOY.COM ~~~~~~~~~ */
#topmenu {
    width: 800px;
    font-size:93%;
    margin-top: 0px;
    line-height:normal;
    height: 25px;
    display:block;
}

#topmenu ul {
    margin:0;
    padding:0px 0px 0 0px;
    list-style:none;
}

#topmenu li {
    display:inline;
    margin:0;
    padding:0;
}

#topmenu a {
    float:left;
    background:url(../images/menuleft.gif) no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}

#topmenu a span {
    float:left;
    display:block;
    background:url(../images/menuright.gif) no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#669900;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#topmenu a span {
    float:none;
}
/* End IE5-Mac hack */

#topmenu a:hover span, #topmenu li.current a span {
    color:#999999;
}

#topmenu a:hover, #topmenu li.current a {
    background-position:0% -42px;
}

#topmenu a:hover span, #topmenu li.current a span {
    background-position:100% -42px;
}

.left {
    margin:10px 10px 5px 0;
    float:left;
}

.right {
    margin:2px 0 2px 2px;
    float:right;
}
