/*
Admin interface stylesheet

This stylesheet implements a set of styles used throughout the admin interface of
PN .8x allowing the site administrator to configure via standard css techniques the
presentation of the admin interface.

Themers can create a theme specific version of this stylesheet by creating a copy of
the file in themes\<themename>\style\Admin\admin.css. This version of stylesheet is
kept as generic as possible to avoid many potential theme clashes. Re-styling this
stylesheet requires a working knowledge of both CSS1 and CSS2.

For this stylesheet to be loaded Xanthia themes must have the command
<!--[modulestylesheet stylesheet=admin.css modname=Admin]--> in either the master
template or a specific template for the admin components of a module (note 1).

Legacy themes support the admin stylesheet by virtue of the header of these themes
being templated in the Header_Footer module.

Notes
1) There's no harm in this file being in the master template as these classes are
not referenced in the user templates.

/* styles for module admin menus */
div.z-adminbox div.z-menu {
    width: 100%;
	text-align: left;
	text-transform:capitalize;
}

div.z-adminbox .z-menuitem-title {
	width:100%;
	background: url(../pnimages/button_bkg.gif) repeat-x;
	height: 18px;
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc;
}

/* style for Immediate template under the tab menu */
div.z-adminbox {
	width: 98%;
    color: inherit;
	border-top: 0px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-bottom: 0px solid #ccc;
	padding:5px 1% 5px 1%; /* top, right, bottom, left */
}

/* style for Immediate template under the admin menu */
div.z-admincontainer {
	width:98%;
    color: inherit;
	border-top: 0px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
	padding:0px 1% 5px 1%; /* top, right, bottom, left */
	
}

/* container for admin icons in main admin panel */
div.z-adminiconcontainer {
    padding-bottom: 20px;
    padding-left: 15px;
}

/* admin category description */
div.z-admincategorydescription {
    text-align:center;
	margin-bottom:10px;
}

/* style for main admin tables */
table.z-admintable {
	width: 100%;
    color: inherit;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	margin-top: 0px;
	padding:5px 5px 10px 5px; /* top, right, bottom, left */
}

/* style for Immediate template under the admin menu */
div.z-adminbox h1 {
	text-align:left;
}

div.z-admincontainer h2 {
	text-align:left;
	border-bottom:1px solid #cccccc;
    margin-top: 0px;
}

/* stying for the cell elements in admin tables */
table.z-admintable td, table.z-admintable th{
	padding: 5px;
	border-width: 0px;
}

/* style to highlight a defaut row in a table */
table.z-admintable tr.z-defaulttablerow {
    background-color: #add8e6;
    color: inherit;
}

/* main admin form style */
form.z-adminform {
	border-bottom: 1px solid #ccc;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	padding: 10px 0;
	margin: 10px 0px 10px 0px; /* top, right, bottom, left */
}
.accesskey {
	text-decoration: underline
}

/* formrow is used to style a div containing a label and control pair */
div.z-adminformrow {
	border-top: 0px solid #ccc;
	padding: 5px 0px 10px 0px; /* top, right, bottom, left */
	min-height: 2em;
}

/* style for a input control contained in a div of class formrow */
/* style for a textarea control contained in a div of class formrow */
/* style for a select control contained in a div of class formrow */
/* style for a div contained in a div of class formrow - allows for grouping
of a control and subsequent non label text.
e.g. yes (radio) no (radio)*/
div.z-adminformrow input, div.z-adminformrow textarea,
div.z-adminformrow select, div.z-adminformrow span, div.z-adminformrow label {
	margin-left:20px;
	text-align:left;
}

/* styles for lists of controls */
div.z-adminformrow ul {
    list-style: none;
}
div.z-adminformrow label + ul > li {
    margin-left: 225px;
}
div.z-adminformrow label + ul > li:first-child {
    margin-left: -250px;
}

/* styles to ensure that control elements inside the floated div directly above
don't themselves float*/
div.z-adminformrow div input, div.z-adminformrow div textarea,
div.z-adminformrow div select {
	float: none;
}

/* styles to allow sub headings to be embedded correctly in admin forms */
form.z-adminform div h1, form.z-adminform div h2, form.z-adminform div h3,
form.z-adminform div h4, form.z-adminform div h5, form.z-adminform div h6 {
	padding: 10px;
	text-transform:capitalize;
}

/* styles for lists inside an admin form */
div.z-adminformrow ul {
	padding: 0px;
    margin-top: 0px;
}
div.z-adminformrow li {
	margin-left: 275px;
}

/* add the help cursor to labels that provide additional help via the title
tag of the label */
form.z-adminform label.z-adminformhelp {
    cursor: help;
}

/* style for a label contained in a div of class formrow */
div.z-adminformrow>label {
	text-transform:capitalize;
	float: left;
	width: 250px;
	margin-left: 5px;
    padding: 0px 5px 0px 0px;
	text-align: right;
}

/* styles for the buttons on a form */
form.z-adminform div.z-adminformbuttons {
	text-align: left;
	margin-left: 240px;
}
form.z-adminform div.z-adminformbuttons input, form.z-adminform div.z-adminformbuttons img {
	margin: 5px;
}
/* styles for the buttons on a view table */
div.z-adminviewbuttons  {
	text-align: right;
	margin-bottom:20px;
}
div.z-adminviewbuttons img {
	margin: 5px;
	float: right;
}

/* style the button tag */
div.z-admincontainer button {
    border: 0px;
	padding: 0px;
	background-color: inherit;
}

/* styling for status messages and security analyzer */
div.z-statusmsg, div.z-errormsg {
	margin:0 auto;
	font-weight:bold;
	width: 50%;
	padding: 2em 1em 1em 7em; /* top, right, bottom, left */
    min-height: 40px;
}
div.z-statusmsg {
	border: 1px solid green;
	background: #ffffea url(../../../images/icons/large/info.gif) no-repeat 2em ;
    color: inherit;
}
div.z-errormsg, div#z-securityanalyzer {
	border: 1px solid red;
	background: #ffffea url(../../../images/icons/large/error.gif) no-repeat 2em ;
    color: inherit;
}
div#z-securityanalyzer {
	margin:0 auto;
	font-weight:bold;
	padding: 2em 1em 1em 8em; /* top, right, bottom, left */
    width: 80%;
    min-height: 40px;
	margin-bottom: 1em;
}

/* styling for a page icon */
div.z-adminpageicon {
	padding: 0px 0px 5px 5px; /* top, right, bottom, left */
}
div.z-adminpageicon img{
    float:right;
	padding-top:10px;
}

/* styling for a module icon */
div.z-adminmodicon {
	margin:0px 0px 0px 0px; /* top, right, bottom, left */
	padding: 15px 15px 5px 5px; /* top, right, bottom, left */
	
}
div.z-adminmodicon img{
    float:left;
	padding-top:10px;
}

/* styles for the warning message shown if any of the install directory,
install.php or psak.php are found */
div.warning-container {
	margin:0 auto;
	text-transform:uppercase;
	background-color:#ffffea;
    color: inherit;
	width: 30%;
	text-align: center;
	border: 1px solid red;
	padding: 10px 0px 10px 0px; /* top, right, bottom, left */
}
div.warning-container h2 {
	color: red;
    background-color: inherit;
	display:inline;
	text-transform:capitalize;
}
div.warning-container img {
	float:left;
}

/* Used to style the cancel delete button when asking for a confirmation */
div.canceldelete-container {
    margin:0 auto;
	text-transform:capitalize;
    color: inherit;
	background-color:#ffffea;
	width: 30%;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 10px 0px 10px 0px; /* top, right, bottom, left */
}

div.canceldelete-container h2 {
	color: gray;
    background-color: inherit;
	display:inline;
	text-transform:capitalize;
}
div.canceldelete-container img {
	float:left;
}

/* style tags for grouping of controls into logical 'sets' */
fieldset {
	border: #0074B0 solid 1px;
    margin-top: 5px;
}
legend {
    padding: 5px;
	color: #0074B0;
    background-color: inherit;
}

/* styles for pager plugins */
div.z-pager {
    text-align: center;
}
/* style for the selected item of the pager abc plugin */
div.z-pager a.z-pagerselected {
    font-weight: bold;
    text-decoration:underline;
}
/* style for the selected item of the pager plugin */
div.z-pager span.z-pagerselected {
    font-weight: bold;
}

/* classes to define two colors for alternating rows in admin views */
table.z-admintable tr.z-even, div.z-admincontainer ul li.z-even {
	background-color: #fff;
    color: inherit;
}
table.z-admintable tr.z-odd, div.z-admincontainer ul li.z-odd {
	background-color: #f3f3f3;
    color: inherit;
}

/* class to show a sortable li or div */
.z-sortable {
    cursor: move;
    width: 80%;
}

/* classes to show/hide elements */
.z-hide {
    display:none;
}

.z-show {
    display: inline;
}

/* generic clearfix solution */

.z-clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.z-clearfix {
    display: inline-table;
}

/* Hides from IE-mac \*/
* html .z-clearfix {
    height: 1%;
}
.z-clearfix {
    display: block;
}
/* End hide from IE-mac */

/* Overflow-Method to clear float environments */
.z-floatbox { 
    overflow:hidden; 
}
