
/** Author :Gen.Lostwarrior
* Project :Business -II
* Date :10 Aug 2008
*/
/** With Less Resources try to achieve a lot ***/
/** Standard Elements **/

/** HTML Tags **/



* {
    margin: 0;
    padding: 0;
}


body {
    background-color : #0B0B0B;
    color : #A5A5A5;
    font-family : verdana, Helvetica, Arial, sans-serif;
    font-size : 12px;
    font-weight : normal;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
}


p {
    color : #A5A5A5;
    font-size : 12px;
    padding : 5px;
    text-align:justify;
    line-height: 16px;
}


h1, h2, h3, h4, h5, h6 {
    padding-bottom : 10px;
    padding-left : 5px;
    padding-top : 5px;
    color : #A5A5A5;
}


h1 {
    font-size : 28px;
}


h2 {
    font-size : 22px;
}


h3 {
    font-size : 20px;
}


h4 {
    font-size : 18px;
    color : #C9C9C9 !important;
}


h5 {
    font-size : 16px;
}


h6 {
    font-size : 14px;
}


li {
    text-align:justify;
    line-height: 15px;
    margin-top : 0;
    margin-bottom : 5px;
}


img {
    border-bottom-style : none;
    border-left-style : none;
    border-right-style : none;
    border-top-style : none;
}


a {
    color : #fff;
    text-decoration:none;
}


a:hover {
    color : #767676;
    text-decoration:none;
}


label {
    color : #A5A5A5 !important;
}

blockquote {
    color : #767676;
    font-size : 12px;
    padding : 5px;
    text-align:justify;
    line-height: 16px;
    color: #A5A5A5 !important;
    border-color:#474747 #434343 #434343 #474747 !important;
    border-style: solid;
    border-width: 1px;
    background-color: #0B0B0B !important; /*non-CSS3 browsers*/
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0B0B0B') !important;  /*IE*/
    background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#0B0B0B)) !important; /*webkit*/
    background: -moz-linear-gradient(top, #000000, #0B0B0B) !important; /*gecko*/
    background: linear-gradient(#000000, #0B0B0B) !important; /*CSS3*/
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left : 20px;
    padding-right : 20px;
}

/** Layout **/


#wrapper {
    background-color : #000;
    border-bottom-color : #7b7b7b;
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-color : #7b7b7b;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-color : #7b7b7b;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-color : #7b7b7b;
    border-top-style : solid;
    border-top-width : 1px;
    margin-bottom : 10px;
    margin-left : auto;
    margin-right : auto;
    padding-left : 5px;
    padding-right : 5px;
    margin-top : 10px;
    width : 925px;
}


#content {
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0px;
    padding-left : 5px;
    padding-right : 5px;
}


#main {
    float : right;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 5px;
    margin-top : 0px;
    width : 650px;
    padding-left : 10px;
    padding-right : 10px;
}


#sidebar {
    border-right-color : #4c4c4c;
    border-right-style : solid;
    border-right-width : 1px;
    float : left;
    margin-bottom : 0px;
    margin-left : 5px;
    margin-right : 0px;
    margin-top : 0px;
    width : 200px;
    padding-left : 10px;
    padding-right : 10px;
}

/* Header Styles */
#sitename a {
    color: #d1d1d1;
    font-family : verdana, Helvetica, Arial, sans-serif;
    font-size : 42px;
    font-weight : 500;
    padding-left : 50px;
    line-height: 72px;
    text-decoration:none;
    text-transform:uppercase;
}


#sitename a:hover {
    color : #767676;
    text-decoration:none;
}


#slogan {
    font-family : verdana, Helvetica, Arial, sans-serif;
    font-size : 16px;
    font-style : italic;
    font-weight : bold;
    padding-bottom : 0;
    padding-left : 125px;
    padding-right : 0;
    padding-top : 10px;
}

/**Top Menu ***/
#header ul {
    float : right;
    list-style-image : none;
    list-style-type : none;
    margin-right : 5%;
    margin-top : 10px;
}


#header ul li {
    display : block;
    float : left;
    height : 40px;
    margin-left : 10px;
}


#header li a {
    color : #d7d7d7;
    font-size : 11px;
    font-weight : bold;
    padding-left : 5px;
    text-decoration : none;
}


#header li a:hover {
    color : #fff;
}


li#blue, li#green, li#lime, li#red, li#violet {
    padding-bottom : 0;
    padding-left : 40px;
    padding-right : 0;
    padding-top : 10px;
}


li#blue {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/ball-blue.jpg);
    background-repeat : no-repeat;
}


li#green {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/ball-green.jpg);
    background-repeat : no-repeat;
}


li#lime {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/ball-lime.jpg);
    background-repeat : no-repeat;
}


li#red {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/ball-red.jpg);
    background-repeat : no-repeat;
}


li#violet {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/ball-violet.jpg);
    background-repeat : no-repeat;
}

/**Content**/


/*

#content h1 {
    font-size : 1.5em;
}

*/



/** Main Part***/
#main p {
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0;
    margin-top : 0;
}


#main img {
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0;
    margin-top : 0;
}


#main ol {
    padding-bottom : 5px;
    padding-left : 25px;
    padding-right : 0;
    padding-top : 5px;
}


#main ul {
    list-style-image : url('../images/stars.gif');
    list-style-position : outside;
    list-style-type : none;
    padding-bottom : 10px;
    padding-left : 35px;
    padding-right : 0;
    padding-top : 10px;
}


#part1 ul {
    list-style-image : none;
    list-style-position : inside;
    list-style-type : none;
    margin-bottom : 0;
    margin-left : 0px;
    margin-right : 0;
    margin-top : 10px;
}


#part1 li a, #part2 li a {
    color : #767676;
    font-size : 0.8em;
    text-decoration : none;
}


#part1 li a:hover, #part2 li a:hover {
    color : #fff;
}


#part1 li {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/arrow.gif);
    background-position : left 4px;
    background-repeat : no-repeat;
    padding-bottom : 0px;
    padding-left : 28px;
    padding-right : 4px;
    padding-top : 2px;
}


#part2 {
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 60px;
}


#nav1 {
    margin-bottom : 0;
    margin-left : 30px;
    margin-right : 50px;
    margin-top : 0;
}


#part2 ul {
    list-style-image : none;
    list-style-position : inside;
    list-style-type : none;
}


#part2 li {
    background-attachment : scroll;
    background-color : transparent;
    background-image : url(../images/arrow.gif);
    background-position : left 4px;
    background-repeat : no-repeat;
    padding-bottom : 0px;
    padding-left : 28px;
    padding-right : 4px;
    padding-top : 2px;
}

/** Sidebar ***/
#sidebar ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px !important;
    margin-left : 20px !important;
    padding-left : 0px !important;
}


#sidebar ul li {
    list-style-image : none;
    list-style-type : square;
    margin-bottom : 0px;
    margin-left : 0px !important;
    padding-left : 0px !important;
    padding-bottom : 5px !important;
}


#sidebar ul ul {
    list-style-position:inside;
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 0px;
    margin-left : 0px !important;
    padding-left : 0px !important;
}


#sidebar ul ul li {
    list-style-image : none;
    list-style-type : circle;
    margin-bottom : 0px;
    margin-left : 5px !important;
    padding-left : 0px !important;
    padding-bottom : 5px !important;
}

/**Footer**/
#footer {
    overflow:auto;
    padding-left : 5px;
    padding-right : 5px;
    text-align : center;
}


#footer a {
    color : #fff;
    text-decoration : none;
}

/**************************/
/**Common**/

/*#footer p, #sidebar p, #main p {
    color : #767676;
    font-size : 0.8em;
}
*/


.code {
    background-image : url(../images/line.gif);
    background-repeat : repeat-x;
    margin-left : 30px;
}


.ace {
    margin-top : 20px;
}


.left {
    float : left;
}


.cleaner {
    clear : both;
}


.line {
    background-image : url(../images/line.gif);
    background-repeat : repeat-x;
    clear : both;
    margin-bottom : 0;
    margin-left : 5%;
    margin-right : 5%;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
}



/*********** Post Calendar SMALLMONTHTABLE STYLES #767676**************/

table.smallmonthtable {
    width: 100%;
    border: 1px solid #7b7b7b;
    border-collapse: collapse;
}

table.smallmonthtable a {
    text-decoration: none;
    color: #A5A5A5 !important;
    font-weight: normal;
}

table.smallmonthtable td {
    border: 1px solid #7b7b7b;
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    line-height: 1.8em;
}

table.smallmonthtable td.monthheader {
    background-color: #474747 !important;
    font-size: 1em;
    padding: 3px 0;
    line-height: normal;
}

table.smallmonthtable td.monthheader a {
    color: #A5A5A5 !important;
    font-weight: bold;
}

table.smallmonthtable td.monthheader a:hover {
    color: #fff !important;
    text-decoration: none;
}

table.smallmonthtable td.monthon {
    background-color: transparent;
}

table.smallmonthtable td.monthoff {
    background-color: #000 !important;
}

table.smallmonthtable td.monthtoday {    /* color assignments for TODAY */
    background-color: #FFFFAA !important;
}

table.smallmonthtable tr.daynames td {
    background-color: #8E8E8E !important;
    color: #B6B6B6 !important;
}

table.smallmonthtable col.weeklink {
    background-color: #474747 !important;
    width: 1em;
}

table.smallmonthtable td:hover {
    background-color: #ffffdd;
}

table.smallmonthtable a.event-one {
    color: #00A300 !important;  /*  Green */
}

table.smallmonthtable a.event-two {
    color: #009A9A !important;   /*  Cyan */
}

table.smallmonthtable a.event-three {
    color: #007AF4 !important;    /*  Azure */
}

table.smallmonthtable col.pcWeekend {
    background-color: #313131 !important;
}

table.smallmonthtable col.pcWeekday {
    background-color: #474747 !important;
}

/******************************************************************************
* Classes to define two colors for alternating rows in views
*******************************************************************************/

.z-even {
background-color: #474747 !important;
color: #A5A5A5 !important;
}
.z-odd {
background-color: #313131 !important;
color: #A5A5A5 !important;
}

/******************************************************************************
* User-Frontend-Tables: z-datatable
* 'z-admintable' is deprecated since 1.3.0
*******************************************************************************/

table.z-datatable,
table.z-admintable {
border:1px solid #474747 !important;
border-spacing:1px 0;
color:inherit;
margin:1em 0;
padding:0;
width:100%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

table.z-datatable caption,
table.z-admintable caption {
background-color: #EAEAEA !important;
font-weight: bold;
border-bottom: 2px solid #4A4A4A !important;
text-transform: uppercase;
padding:10px;
}

table.z-datatable thead,
table.z-admintable thead {
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

table.z-datatable thead tr,
table.z-admintable thead tr {
background-color: #000 !important;
}

table.z-datatable td,
table.z-datatable th,
table.z-admintable td,
table.z-admintable th {
padding: 5px;
border-width: 0px;
vertical-align: middle;
}

table.z-datatable thead th,
table.z-admintable thead th {
color: #A5A5A5 !important;
background-color: #000 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
font-size: 0.9em;
padding: 7px 5px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
}

table.z-datatable tr.z-datatableempty,
table.z-admintable tr.z-admintableempty {
background-color:#434343 !important;
color: #A5A5A5 !important;
font-size:0.9em;
font-weight:bold;
text-align:center;
text-shadow:0 1px 0 rgba(0, 0, 0, 0.8) !important;
}

table.z-datatable tbody tr.z-defaulttablerow,
table.z-admintable tbody tr.z-defaulttablerow {
background-color: #C2FFBF;
color: #055F00;
}

table.z-datatable tbody tr:hover {
background-color: #000 !important;
color: #A5A5A5 !important;
}

table.z-datatable ul,
table.z-admintable ul {
margin: 0;
}

/******************************************************************************
* Generic Form Style: z-form
*******************************************************************************/

.z-form {
margin: 0;
padding: 0;
}

.z-form fieldset,
.z-form .z-fieldset {
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid;
border-width: 1px;
margin: 0 0 1em 0;
padding: 0.5em 1em;
color: #A5A5A5 !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #000 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-form legend {
font-size: 1.25em;
font-weight: normal;
color: #A5A5A5 !important;
background: transparent;
border: 0;
text-shadow: -1px -1px 0 rgba(71, 71, 71, 0.8) !important;   /*#474747*/
}

.z-form .z-formrow input,
.z-form .z-formrow textarea,
.z-form .z-formrow select {
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
background: #000000 !important;
color: #fff !important;
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid !important;
border-width: 1px !important;
font-size: 1em;
margin: 0;
/* max-width: none; */
}

.z-form .z-formrow input[type=radio] {
width: auto;
border: 1px solid #474747 !important;
}

.z-form div.z-formrow input:focus,
.z-form div.z-formrow select:focus,
.z-form div.z-formrow textarea:focus,
.z-form div.z-formrow input:hover,
.z-form div.z-formrow select:hover,
.z-form div.z-formrow textarea:hover,
.z-form div.z-formrow input:active,
.z-form div.z-formrow select:active,
.z-form div.z-formrow textarea:active {
border: 1px solid #474747 !important;
background: #313131 !important;
color: #fff !important;
}

/******************************************************************************
* Form styles (Two-column-view = default)
*******************************************************************************/


.z-form div.z-formrow .z-label,
.z-form div.z-formrow label {
display: block;
float: left;
padding: 0.3em 1% 0.3em 0;
text-align: right;
width: 28%;
font-weight: normal;
color: #A5A5A5 !important;
text-shadow: -1px -1px 0 rgba(71, 71, 71, 0.8) !important;    /*#474747*/
/* overflow: hidden; This causes hidden labels after BlindUp/Down in Chrome */
}
/******************************************************************************
* Itemlist styles
*******************************************************************************/
.z-itemlist li.z-itemheader {
color : #A5A5A5 !important;
font-size: 0.9em;
background: #313131 !important;
border: 1px solid #474747 !important;
font-weight: bold;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
}

.z-itemlist li:hover {
background-color: #000000 !important;
}
/******************************************************************************
* Buttons styles
*******************************************************************************/

.z-button,
.z-buttons a,
.z-buttons a:link,
.z-buttons a:visited,
.z-buttons input,
.z-buttons button {
display: inline-block;
outline: none;
cursor: pointer;
font-size: 1em;
line-height:130%;
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
text-decoration: none !important;
text-align: center;
font-weight: bold;
margin: 0 5px 0 0;
padding: 5px 10px 6px 10px;
color: #A5A5A5 !important;
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid;
border-width: 1px;
background-color: #474747 !important; /*non-CSS3 browsers*/
/*  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; */  /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.z-button:hover,
.z-buttons a:hover,
.z-buttons input:hover,
.z-buttons button:hover {
color: #A9A9A9 !important;
text-decoration: none !important;
background-color: #4C4C4C !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4C4C4C') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#4C4C4C)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #4C4C4C) !important; /*gecko*/
background: linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-button:active,
.z-buttons a:active,
.z-buttons input:active,
.z-buttons button:active {
color: #A5A5A5 !important;
background-color: #313131 !important; /*non-CSS3 browsers*/

filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#313131') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#313131)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #313131) !important; /*gecko*/
background: linear-gradient(#000000, #313131) !important; /*CSS3*/
}
/******************************************************************************
* Buttons based on HTML tag: Input
*******************************************************************************/

.z-buttons input.z-bt-ok {
background: url("../../../images/icons/extrasmall/button_ok.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-ok:hover {
background: url("../../../images/icons/extrasmall/button_ok.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, ##4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-ok:active {
background: url("../../../images/icons/extrasmall/button_ok.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_ok.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-cancel {
background: url("../../../images/icons/extrasmall/button_cancel.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-cancel:hover {
background: url("../../../images/icons/extrasmall/button_cancel.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-cancel:active {
background: url("../../../images/icons/extrasmall/button_cancel.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/button_cancel.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-preview {
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-preview:hover {
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-preview:active {
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_visible.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-new {
background: url("../../../images/icons/extrasmall/filenew.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-new:hover {
background: url("../../../images/icons/extrasmall/filenew.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-new:active {
background: url("../../../images/icons/extrasmall/filenew.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filenew.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-save {
background: url("../../../images/icons/extrasmall/filesave.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-save:hover {
background: url("../../../images/icons/extrasmall/filesave.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-save:active {
background: url("../../../images/icons/extrasmall/filesave.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/filesave.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-edit {
background: url("../../../images/icons/extrasmall/edit.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-edit:hover {
background: url("../../../images/icons/extrasmall/edit.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-edit:active {
background: url("../../../images/icons/extrasmall/edit.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/edit.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-archive {
background: url("../../../images/icons/extrasmall/folder.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#000000, #474747) !important; /*CSS3*/
}

.z-buttons input.z-bt-archive:hover {
background: url("../../../images/icons/extrasmall/folder.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-archive:active {
background: url("../../../images/icons/extrasmall/folder.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/folder.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}




.z-buttons input.z-bt-delete {
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #474747 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(center top , #000000, #474747) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#474747)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#000000, #dfdfdf) !important; /*CSS3*/
}

.z-buttons input.z-bt-delete:hover {
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #4C4C4C 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #4C4C4C) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#4C4C4C)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#000000, #4C4C4C) !important; /*CSS3*/
}

.z-buttons input.z-bt-delete:active {
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") #313131 10px 50% no-repeat !important; /*non-CSS3 browsers*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -moz-linear-gradient(top,  #000000, #313131) repeat scroll 0 0 transparent !important; /*gecko*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#000000), to(#313131)) repeat scroll 0 0 transparent !important; /*webkit*/
background: url("../../../images/icons/extrasmall/14_layer_deletelayer.gif") 10px 50% no-repeat, linear-gradient(#000000, #313131) !important; /*CSS3*/
}


/*******************************************************************************/
/* Zikula.UI styles
/*******************************************************************************/

.z-window.z-modal {
-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid;
border-width: 1px;
}

.z-window .z-window-header {
background-color: #474747 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000, #474747) !important; /*gecko*/
background: linear-gradient(#000, #474747) !important; /*CSS3*/
border-bottom: 1px solid #474747 !important;
color: #A5A5A5 !important;
font-weight: bold;
text-align: center;
padding: 5px;
height: 16px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
text-shadow:0 -1px 0 rgba(0,0,0,0.7) !important;
}

.z-window .z-window-footer {
background-color: #474747 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4c4c4c') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000),to(#4c4c4c)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000, #4c4c4c) !important; /*gecko*/
background: linear-gradient(#000, #4c4c4c) !important; /*CSS3*/
border-top: 1px solid #6E6E6E !important;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
text-align: center;
min-height: 12px;
padding: 5px;
}

#control_overlay {
background-color: #000 !important;
}

.z-select-multiple.z-form {
padding: 0;
margin: 0;
}

.z-select-multiple.z-form z-formrow {
padding: 0;
}

.z-select-multiple.z-form .z-formrow.selected {
background: #DCDCDC !important;
}

.z-tabs {
background: url("../images/ui/tab_bottom.gif") repeat-x scroll center bottom transparent;
margin:0 !important;
padding:0 !important;
width: 100%;
overflow: hidden;
}

.z-tabs li {
background-color: #474747 !important;
border: 1px solid #313131 !important;
float: left;
list-style-type: none;
margin: 0 5px 0 0;
padding: 0;
z-index: 1000;
}

.z-tabs li > a {
border-right: 1px solid transparent;
color: #A5A5A5 !important;
float: left;
font-weight: bold;
padding: 5px;
position: relative;
text-decoration: none;
}

.z-tabs li > a:hover {
background: #000 !important;
border-right: 1px solid #313131 !important;
color: #fff !important;
text-decoration: none;
}

.z-tabs li.active {
background: none repeat scroll 0 0 #000 !important;
border-bottom: 1px solid #000 !important;
z-index: 2000;
}

.z-tabs li.active a:hover {
border-right: 1px solid transparent;
}

.z-accordion .z-acc-header {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #000 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
border: 1px solid #474747 !important;
cursor: pointer;
margin: 0.2em 0 0;
padding: 0.5em !important;
display: block;
}

.z-accordion .z-acc-header:hover {
color: #A9A9A9 !important;
background-color: #313131 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#313131') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#313131)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #313131) !important; /*gecko*/
background: linear-gradient(#000000, #313131) !important;/*CSS3*/
}

.z-accordion .z-acc-content {
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
background: #000;
border: 1px solid #474747 !important;
border-top: none;
margin: 0 0 0.2em 0;
padding: 0.5em;
}

.z-accordion .z-acc-header.z-acc-active {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
color: #A5A5A5 !important;
background-color: #313131 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#313131') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#313131)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #313131) !important;/*gecko*/
background: linear-gradient(#000000, #313131) !important; /*CSS3*/
}


/******************************************************************************
* Order styles
*******************************************************************************/

.z-order-asc:hover {
background: url("../../../images/global/arrow_up_white.gif") transparent 100% 50% no-repeat !important;
}

.z-order-desc:hover {
background: url("../../../images/global/arrow_down_white.gif") transparent 100% 50% no-repeat !important;
}

/******************************************************************************
* Toggle styles
* TODO: Do we still need this? (herr.vorragend)
*******************************************************************************/

.z-toggle {
display: block;
background-image: url("../images/toggle-bk.gif") !important;
background-repeat: no-repeat;
background-position: 0px;
border: 0pt none;
margin: 0pt;
padding: 0pt;
width: 27px;
height: 25px;
}
.z-toggle-open,
.z-toggle-open:link,
.z-toggle-open:visited {
background-position: 0pt -18px;
height: 25px;
width: 27px;
}
.z-toggle-link,
.z-toggle-link:link,
.z-toggle-link:visited {
background-image: url("../images/toggle-bk.gif") !important;
background-repeat: no-repeat;
background-position: right top;
padding-right: 25px;
border: 0pt none;
}
.z-toggle-link-open,
.z-toggle-link-open:link,
.z-toggle-link-open:visited {
background-position: right -18px;
}


/******************************************************************************
* Livepipe Control.ContextMenu
*******************************************************************************/

#control_contextmenu {
background: #4C4C4C !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4C4C4C') !important; /*IE*/
background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#4C4C4C)) !important; /*webkit*/
background: -moz-linear-gradient(top,  #000,  #4C4C4C) !important; /*gecko*/
background: linear-gradient(top,  #000,  #4C4C4C) !important; /*CSS3*/
border: solid 1px #474747 !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
min-width: 100px;
}

#control_contextmenu ul li {
list-style: none !important;
font-size: 0.9em;
text-align: left;
padding: 2px 10px 2px 10px !important;
margin: 0 !important;
cursor: pointer;
text-decoration: none;
color: #A5A5A5 !important;
font-weight: normal;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
}

#control_contextmenu ul li.selected,
#control_contextmenu ul li:hover {
background-color:#313131 !important;
color:#A9A9A9 !important;
cursor:pointer;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) !important;
}

#control_contextmenu ul li.selected:hover {
color: #fff !important;
background-color: #000 !important;
cursor: pointer;
}

#control_contextmenu ul li.disabled,
#control_contextmenu ul li:hover.disabled {
background-color: #474747 !important;
color: #A0A0A0 !important;
cursor: pointer;
}
/*******************************************************************************/
/* Styles for z-menulinks
/*******************************************************************************/

ul.z-menulinks {
background: url("none") repeat-x scroll 0 0 transparent !important;
background-color: #000 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid !important;
border-width: 1px !important;
color: #A5A5A5 !important;
height: auto !important;
line-height: 23px !important;
list-style: none outside none;
margin: 1em 0 !important;
min-height: 23px !important;
padding:0 5px !important;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
font-size : 11px;
}

ul.z-menulinks li {
background: none !important;
border-right:1px solid #a5a5a5 !important;
display:inline;
padding:0 10px !important;
margin:0 !important;
}

ul.z-menulinks li:first-child {
border-left:1px solid #a5a5a5 !important;
margin-left:5px;
}

ul.z-menulinks li.z-ml-disabled a,
ul.z-menulinks li.z-ml-disabled a:hover {
text-decoration:line-through !important;
}

/*******************************************************************************/
/* Styles for the old module menus based on the SPAN tag
/*******************************************************************************/

.z-menu {
color: #A5A5A5 !important;
font-size : 11px;
text-align: left;
width: 100%;
margin-bottom: 1.5em;
}

.z-menuitem-title {
background: url("none") repeat-x scroll 0 0 transparent !important;
background-color: #000 !important; /*non-CSS3 browsers*/
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#474747') !important; /*IE*/
background: -webkit-gradient(linear,left top, left bottom,from(#000000),to(#474747)) !important; /*webkit*/
background: -moz-linear-gradient(top, #000000, #474747) !important; /*gecko*/
background: linear-gradient(#000000, #474747) !important; /*CSS3*/
border-color:#474747 #434343 #434343 #474747 !important;
border-style: solid !important;
border-width: 1px !important;
display: block;
height: auto !important;
line-height: 23px;
min-height: 23px;
padding:0 5px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8) !important;
}

.z-menu a {
padding: 3px;
}
