<div id="topbar">
	<div id="topbarleft"> </div>
	<div id="topbarright">
	<ul>
	<li {if $pagetype eq 'home'} class="current" {/if}><a href="{pngetbaseurl}">{gt text="Home"}</a></li>
	<li {if $module eq 'Pages'} class="current" {/if}><a href="{modurl modname=Pages}">{gt text="Pages"}</a></li>
	<li {if $module eq 'News'} class="current" {/if}><a href="{modurl modname=News}">{gt text="News"}</a></li>
	<li {if $module eq 'Dizkus'} class="current" {/if}><a href="{modurl modname=Dizkus}">{gt text="Forums"}</a></li>
	<li {if $module eq 'formicula'} class="current" {/if}><a href="{modurl modname=formicula}">{gt text="Contact"}</a></li>
	</ul>
	</div>

	<h1 id="sitename"><a href="{homepage}" title="{gt text="Home"}">{sitename}</a></h1>
	<h2 id="slogan">{slogan}</h2>

	<div id="searchform">
	{search class=search search_class=textbox button_class=button button=Search}
	</div>

</div>
