/* CSS Document */

body {
    background-color:#fff;
    background-image:url(../images/backgrounds/body.gif);
    background-position:center;
    background-repeat:repeat-y;
    font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
    font-size:10px;
    color:#777;
}
#container {
    width:500px;
    margin:0 auto;
}

#header {
    background-color:#eeeeee;
    margin:10px;
    padding:30px 10px 30px 10px;
    border-top:2px solid #ccc;
}

#header h1 {
    text-align:center;
    font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
    font-size:30px;
    color:#333;
    margin:0;
    font-weight:normal;
}
#header h1 strong {
    color:#A85BA6;
}
#header h1 a {
    color:#333;
    text-decoration:none;
}
#header h2 {
    font-size:11px;
    font-weight:normal;
    text-align:center;
    color:#999;
}
#header ul {
    margin:20px 0 0 0;
    padding:0;
}
#header li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
}
#header li a {
    display:block;
    padding:7px;
    color:#999;
    text-decoration:none;
    border-bottom:5px solid #fff;
    margin:0 10px 0 0;
    font-size:10px;
}
#header li a:hover {
    color:#000;
    border-bottom:7px solid #fff;
    padding:5px 7px 7px 7px;
}
#header li.current a {
    color:#000;
    border-bottom:3px solid #999;
    padding:5px 7px 7px 7px;
}
#header li a em {
    font-style:normal;
    text-decoration:underline;
}

#sidebar {
    float:right;
    width:164px !important;
    width:154px;
    margin:10px 10px 10px 0;
}

#sidebar h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000;
    margin:10px 5px 15px 10px;
}
#sidebar p {
    padding:5px;
    margin:5px 5px 5px 10px;
    line-height:17px;
    word-spacing:-1px;
}

ul.submenu {
    margin:0;
    padding:0;
}
.submenu li {
    marign:0;
    padding:0;
    list-style:none;
}
.submenu a {
    display:block;
    height:13px;
    padding:7px 7px 7px 17px;
    margin:1px 0 0 0;
    background-color:#fff;
    background-image:url(../images/backgrounds/submenua_normal.jpg);
    background-position:left;
    background-repeat:repeat-y;
}
.submenu a:hover {
    background-image:url(../images/backgrounds/submenua.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#fff;
    padding:7px 7px 7px 15px;
}
.submenu a:focus {
    background-image:url(../images/backgrounds/submenua.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#fff;
    padding:7px 7px 7px 15px;
}
.submenu a:active {
    background-image:url(../images/backgrounds/submenua.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#fff;
    padding:7px 7px 7px 15px;
}

.note {
    padding:10px;
    background-color:#eee;
    border:1px solid #ccc;
    margin:20px 5px 20px 5px;
}


#content {
    margin:10px 185px 10px 10px;
}
#content h1 {
    font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
    font-size:14px;
    border-bottom:1px solid #eee;
    padding:5px;
    color:#000;
}
#content h1 a {
    color:#000;
    text-decoration:none;
    display:block;
    background-image:url(../images/backgrounds/h1.png);
    background-position:right;
    background-repeat:no-repeat;
}
#content h1 a:hover {
    color:#444;
    background-image:url(../images/backgrounds/h1_hover.png);
}
#content h2 {
    font-size:11px;
    color:#ccc;
    margin:10px 0 10px 0;
    padding:5px;
}
#content p {
    padding:5px;
    line-height:18px;
    word-spacing: 0.1em;
}
#content .news_meta {
    text-align:right;
    padding:5px;
    margin:10px 0 20px 0;
    border-top:1px solid #eee;
}
#content .article_menu b {
    float:left;
    font-weight:normal;
}
#content .article_menu a {
    padding:0 0 0 15px;
    background-image:url(../images/backgrounds/comment.png);
    background-position:left;
    background-repeat:no-repeat;
    color:#333;
    text-decoration:none;
}
#content p a {
    color:#333;
    text-decoration:none;
}

#content p:hover a {
    border-bottom:1px dotted #000;
}
#content p:hover a:hover {
    border-bottom:1px solid #000;
}
#content .article_menu a:hover {
    color:#000;
    background-image:url(../images/backgrounds/comment_hover.png);
}
#content ul {
    margin:0 0 0 15px;
    padding:0;
    border-top:1px solid #f6f6f6;
}
#content li {
    margin:5px 0 5px 0;
    border-bottom:1px solid #f6f6f6;
    padding:0 0 5px 20px;
    list-style:none;
    background-image:url(../images/backgrounds/arrow.png);
    background-position:top left;
    background-repeat:no-repeat;
    color:#999;
}
#content blockquote {
    background-color:#f6f6f6;
    margin:4px;
    padding:5px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
#content blockquote p {
    marign:0;
    padding:0 10px 0 10px;
}
.comment_odd {
    background-color:#f6f6f6;
    padding:10px;
    border-top:1px solid #fff;
    border-bottom:1px solid #eee;
}
.comment_even {
    padding:10px;
    background-color:#fcfcfc;
    border-top:1px solid #fff;
    border-bottom:1px solid #eee;
}
.comnum {
    float:right;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:25px;
    color:#ccc;
}
input, textarea {
    background-color:#fff;
    border:1px solid #ccc;
    padding:3px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#777;
}
#footer {
    background-color:#eee;
    border-top:2px solid #ccc;
    padding:10px;
    text-align:center;
    clear: both;
}

a {
    color:#333;
    text-decoration:none;
}

a img {
    border: 0px;
}