<div id="Footer">

	<p style="float:left;text-align : left;padding-left:5px;">			
		&copy; 2006-{'Y'|date} <strong>{sitename}</strong>&nbsp;|&nbsp;
		<a href="{pngetbaseurl}">{gt text="Home"}</a>&nbsp;|&nbsp;
		<a href="{modurl modname=Sitemap}">{gt text="SiteMap"}</a>&nbsp;|&nbsp;
		<a href="{modurl modname=News func=view theme=rss}">{gt text="RSS Feed"}</a>
		<br />
		<strong>More Info:</strong>&nbsp;|&nbsp;
		<a href="{modurl modname=legal}" title="{gt text="Terms and Conditions"}">{gt text="Terms and Conditions"}</a>&nbsp;|&nbsp;
		<a href="{modurl modname=formicula}" title="{gt text="Contact Us"}">{gt text="Contact Us"}</a>
	</p>
	<p style="float:right;text-align:right;padding-right:5px;">
		<br />
		<strong>Designed By</strong>:&nbsp;
		<a href="http://www.empire-elements.co.uk/" title="{gt text="Empire Elements web design"}">{gt text="Empire Elements"}</a>&nbsp;|&nbsp;
		{gt text="Valid"} <a href="http://validator.w3.org/check?uri=referer">{gt text="XHTML"}</a>&nbsp;|&nbsp;
		<a href="http://jigsaw.w3.org/css-validator/check/referer">{gt text="CSS"}</a>
	</p>

</div>
