#container{background:#f0f0f0 url(../images/bodybg-black.jpg) repeat-x;}
#mainmenu a:hover{background:#f0f0f0 url(../images/menuhover-black.jpg) top left repeat-x;}
#mainmenu li.current{background:#f0f0f0 url(../images/menuhover-black.jpg) top left repeat-x;}
