#container{background:#f0f0f0 url(../images/bodybg-purple.jpg) repeat-x;}
#mainmenu a:hover{background:#f0f0f0 url(../images/menuhover-purple.jpg) top left repeat-x;}
#mainmenu li.current{background:#f0f0f0 url(../images/menuhover-purple.jpg) top left repeat-x;}
