
/*#############################################################
Name: Coffee N Cream
Date: 2006-08-24
Description: A smooth coffee style template.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */




* {
    margin: 0;
    padding: 0;
  }


a {
    color: #963;
  }


a:hover {
    color: #C60;
  }


a img {
    border: 0px;
  }


body {
    background-color : #655A46;
    background-image : url(../images/bg.gif);
    color : #543;
    font-family : "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size : .9em;
    font-style : normal;
  }


input {
    color: #555;
    font: normal .9em "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
  }


p,cite,code,ul {
    font-size: .9em;
    padding-bottom: .9em;
  }


h1,h2,h3,h4,h5,h6 {
    color : #654;
    font-family : "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
    margin-bottom: 5px;
    padding-top : 5px;
    text-decoration : none;
  }


h1 {
    font-size: 1.5em;
  }


h2 {
    font-size: 1.4em;
  }


h3 {
    font-size: 1.3em;
  }


h4 {
    font-size: 1.2em;
  }


h5 {
    font-size: 1.1em;
  }


h6 {
    font-size: 1em;
  }


code {
    background: #FFE;
    border: 1px solid #EED;
    border-left: 6px solid #938262;
    color: #554;
    display: block;
    font: normal .9em "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
  }


blockquote {
    background: url(../images/quote.gif) no-repeat;
    color: #666;
    display: block;
    font: normal .9em "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
    padding-left: 28px;
  }

/* misc */




.clearer {
    clear: both;
  }

/* structure */




#container {
    background: url(../images/bgcontainer.gif) repeat-y;
    margin: 0 auto;
    width: 780px;
  }

/* header */




#header {
    background: url(../images/bgheader.gif) repeat-x;
    height: 120px;
    margin: 0 auto;
    width: 760px;
  }

/* title */




#title {
    padding: 32px;
  }


#title h1 {
    color: #E4DBCF;
    font: normal 3.4em "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
  }

/* navigation */




#navigation {
    background-color : #FFF;
    background-image : url(../images/bgnavigation.gif);
    background-repeat : repeat-x;
    font-family : "Lucida","Lucida Grande","Lucida Sans Unicode",sans-serif;
    font-size : 12px;
    font-weight : bold;
    height : 44px;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 18px;
    padding-right : 18px;
    padding-top : 0;
    vertical-align : middle;
    width : 725px;
  }


#navigation a {
    color : #543;
    line-height : 44px;
    margin-right : 10px;
    padding-bottom : 11px;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 14px;
    text-decoration : none;
    vertical-align : middle;
  }


#navigation a:hover, #navigation a.current {
    background-color : #CEBDA1;
    color : #420;
    line-height : 44px;
    vertical-align : middle;
  }

/* main */




#main {
    clear: both;
    padding: 0 10px 12px 28px;
  }

/* sub navigation */




#sidenav {
    float: right;
    width: 218px;
  }


#sidenav h4 {
    background-color : #BCB39F;
    background-image : url(../images/sidenavh1.gif);
    background-repeat : repeat-x;
    bottom-color : #999;
    bottom-style : solid;
    bottom-width : 1px;
    color : #4A4A44;
    font-size : 1.2em;
    height : 22px;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-left : 12px;
    padding-top : 5px;
    top-color : #CCC;
    top-style : solid;
    top-width : 1px;
    vertical-align : middle;
  }


#sidenav ul {
    margin: 0;
    padding: 0;
  }


#sidenav li {
    border-bottom: 1px solid #A98;
    border-top: 1px solid #DDC;
    list-style: none;
  }


#sidenav li a {
    background: #CCC3AF;
    color: #554;
    display: block;
    padding: 8px 4px 8px 12px;
    text-decoration: none;
  }


#sidenav li a:hover {
    background: #D6CCB9;
    color: #654;
  }

/* content */




#content {
    padding-top: 12px;
    float: left;
    width: 68%;
  }


#content .descr {
    color: #987E57;
    font-size: .9em;
    margin-bottom: 6px;
  }


#content li {
    list-style: url(../images/li.gif);
    margin-left: 18px;
  }

/* footer */




#footer {
    background: #958463 url(../images/bgfooter.gif) repeat-x;
    color: #FED;
    font-size: .8em;
    line-height: 20px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    width: 740px;
    border-bottom: #7d725c solid 1px;
    overflow: auto;
  }


#footer a {
    color: #FFD;
    text-decoration: none;
  }


#footer a:hover {
    color: #FFF;
    text-decoration: underline;
  }

.left {float:left;text-align : left;padding-left:5px;}
.right {float:right;text-align:right;padding-right:5px;}

ul#admintabs li { list-style-image:none;}