/* 
** BLUE:SKY - alternative style: plain version
** This CSS file makes the webpage look pretty ;-)
** 
** May 15, 2006 - (version 1.0)
** 
** this is a part of the open source layout by 
** Jonas John (www.jonasjohn.de) ~ made for oswd.org !
*/

/* page overall: */

body,div,p,img,form,h1,h2,h3,h4,h5,h6,ul,li { 
    margin: 0; 
    padding: 0; 
    border: 0;
}
 
body {
    margin: 0.5em 0em 2em 0em;

    font-size: 100%;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    line-height: 1.1em;
    text-align: center;
    
    background-color: #FFFFFF;


}
 
#page { 
    width: 70%; 
    text-align: left;  
    margin-left: auto; 
    margin-right: auto;  
} 


/* header: */

#header {
    position: relative; 
    width: 100%;
    height: 2.8em;
    vertical-align: middle;
    text-align: left;
} 

#header a:link, #header a:visited {
    color: #0D4F81;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
    letter-spacing: -0.1em !important;
    letter-spacing: -0.2em;
    line-height: 1.2em;
}


/* left column: */

#left {
    width: 24%; 
    float: left; 
    position: relative; 
    font-size: 0.8em;
}

div#nav {
    width: 90%;   
}
    
#nav ul {
    list-style-type: none;
    padding: 0.5em 0em 0.9em 0em;    
}

#nav ul li {
    padding: 0.2em 0em 0.2em 0.9em;
    margin-right: 0.3em;
}

#nav a:link, #nav a:visited {
    color: #2E668B;
}
 
#nav a:hover, #nav a:active {
    color: #000;
}

div.left_box {
    width: 90%;
    margin-top: 1em;
}

div.left_box h4, div#nav h4 {
    margin: 0em 0em 0.1em 0em;
    padding: 0.3em 0em 0em 0em;
    font-size: 0.8em;
    color: #99CCE8; 
    text-transform: uppercase;
    font-family: Verdana, Arial, sans-serif;
}

div.left_box p {
    margin: 0em;
    padding: 1em 1em 1em 1em;
}

div.left_box a:link {
    color: #2E668B;
}
    
div.left_box a:visited {
    color: #254A65; 
}
 
div.left_box a:hover, div.left_box a:active {
    color: #000;
}

div.inner_box {
    border: 1px solid #D0E7F4;
}



/* content column: */

#content {
    float: right; 
    display: inline; 
    position: relative; 
    width: 75%; 
    font-size: 0.75em;

}

#content h1 {
    clear: both;
    margin: 0em 0em 0em 0em;
    padding: 0.5em 0em 0em 0.1em;
    font-size: 1.7em;
    font-family: Arial, sans-serif;
    color: #0D4F81;
    line-height: 1em;
}

#content p {
    margin: 0.2em 0em 0.5em 0em;
    padding: 0.35em;
}

#path {
    font-family: Verdana, Arial, sans-serif;
    margin: 0em 0em 0.1em 0em;
    padding: 0.4em 0.6em 0.4em 0.6em;
    font-size: 0.9em;
    color: #99CCE8;
	font-weight: bold;
}

#content a:link {
    color: #014375;
}
    
#content a:visited {
    color: #226496; 
}
 
#content a:hover, #content a:active {
    color: #000;
}

#content acronym {
    border-bottom: 1px dotted #4284B5;
    cursor: help;
    margin: 0;
    padding: 0;
}

#main {
    background-color: #FFFFFF;
    padding: 0.5em 1.5em 1.5em 0.7em;
    border: 1px solid #D0E7F4;
}


div.img_left {
    float: left; 
    margin: 0.5em 0.8em 0em 0em;
}

div.img_right {
    float: right; 
    margin: 0.5em 0em 0em 0.8em;
}

div.img_left img, div.img_right img {
    display: block;
    border: 0.35em solid #D0E7F4;
    margin: 0;
    padding: 0;
}

/* this clears floating (e.g images) */
br.clear {
    clear: both;
    display: none;
}


/* footer: */

#footer { 
    margin: 0em;
    padding: 0em;
    font-size: 0.6em;
    clear: both;
    color: #027BC1;
    text-align: right;
} 

#footer p {
    margin: 0em;
    padding: 0.1em;
}

#footer a:link, #footer a:visited { 
    color: #027BC1;
} 

#footer a:hover, #footer a:active { 
    color: #000000;
} 


