<div id="footer">
    <p>
        {gt text="&copy;2007"}  {sitename} | <a href="{pngetbaseurl}">{gt text="Home"}</a>
        | <a href="{modurl modname=Pages func=display pageid=1}">{gt text="About ZikulaThemes.com"}</a>
        | <a href="{modurl modname=Pages func=display pageid=2}">{gt text="Designer List"}</a>
        | <a href="{modurl modname=formicula}">{gt text="Contact us"}</a>
        | <a href="{modurl modname=News theme=rss}">{gt text="RSS Feed"}</a>
        | <a href="http://www.modetwentythree.com/" title="{gt text="m23"}">{gt text="Design by m23"}</a>
        - {gt text="Valid "}<a href="http://jigsaw.w3.org/css-validator/check/referer">{gt text="CSS"}</a> {gt text="and"}
        <a href="http://validator.w3.org/check?uri=referer">{gt text="XHTML"}</a>
    </p>
</div>