<div id="header">
	<div id="topmenu">
		<ul>

		{if $loggedin eq true}
			
			<li><strong>{userwelcome|ucwords}</strong></li>
			<li><a href="{modurl modname=Users}" title="{gt text="My Account Settings"}">{gt text="My Account"}</a></li>
			<li><a href="{modurl modname=Users func=logout}" title="{gt text="Logout of Your Account"}" class="last">{gt text="Logout"}</a></li>

		{else}
			
			
			<li><strong><em>{userwelcome|ucwords}</em></strong></li>
			<li><a href="{modurl modname=Users func=register}" title="{gt text="New Account Registration"}">{gt text="New Account"}</a></li>
			<li><a href="{modurl modname=Users func=loginscreen}" title="{gt text="Log In to Your Account"}" class="last">{gt text="Log In"}</a></li>

		{/if}
		</ul>
	</div>
	<div id="logo">
		<h1 id="sitename"><a href="{pngetbaseurl}" title="{gt text="Home"}">{sitename}</a></h1>
		<h2 id="slogan">{slogan}</h2>
	</div>
</div>
<div id="menu">
	<ul>
		<li {if $pagetype eq 'home'} class="current" {/if}><a href="{pngetbaseurl}" class="first">{gt text="Home"}</a></li>
		<li {if $module eq 'Pages'} class="current" {/if}><a href="{modurl modname=Pages}">{gt text="Pages"}</a></li>
		<li {if $module eq 'News'} class="current" {/if}><a href="{modurl modname=News}">{gt text="News"}</a></li>
		<li {if $module eq 'Dizkus'} class="current" {/if}><a href="{modurl modname=Dizkus}">{gt text="Forums"}</a></li>
		<li {if $module eq 'formicula'} class="current" {/if}><a href="{modurl modname=formicula}">{gt text="Contact"}</a></li>
	</ul>
</div>
