
/* andreas01 - an open source xhtml/css website layout by Andreas Viklund  - http://andreasviklund.com - Free to use for any purpose as long as the proper credits are given to the original author.
Version: 2.0 (Jun 25, 2006)
Screen layout: */

/***** Body and main container *****/


body {
    margin:0 auto;
    padding:0;
    font:76% Verdana,Tahoma,Arial,sans-serif;
    background:#f4f4f4 url(../images/bg.gif) top center repeat-y;
    color:#303030;
  }


#wrap {
    background:#ffffff;
    color:#303030;
    margin:0 auto;
    width:760px;
  }

/***** Various tags *****/


a {
    text-decoration:none;
    font-weight:bold;
    color:#286ea0;
    background-color:inherit;
  }


a:hover {
    text-decoration:underline;
    color:#286ea0;
    background-color:inherit;
  }


a img {
    border:0;
  }

/***** Header *****/


#header {
    margin:10px 0 0;
    padding:0;
    height:45px;
  }


#header h1 {
    background-color : inherit;
    color : #505050;
    float : left;
    font-size : 2.2em;
    margin-bottom : 0px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    width : 250px;
  }


#header h1 a {
    color:#505050;
    background-color:inherit;
    text-decoration:none;
  }


#header h1 a:hover {
    color:#6D6D6D;
    background-color:inherit;
    text-decoration:none;
  }


#header p {
    background-color : inherit;
    clear : left;
    color : #505050;
    float : right;
    font-size : 1.1em;
    font-weight : bold;
    line-height : 1.3em;
    margin-bottom : 5px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0px;
    padding-right : 35px;
    text-align : right;
  }


#frontphoto {
    margin:0 0 10px;
    border:0;
  }

/***** Left sidebar *****/


#leftside {
    clear:left;
    float:left;
    width:140px;
    margin:0 0 5px;
    padding:0;
  }


#leftside h2,#leftside h3 {
    color:#505050;
    background-color:inherit;
    font-size:1.3em;
    margin:0 0 5px;
    padding:0;
  }


div.announce {
    margin:10px 0 15px;
    padding:7px 5px;
    font-size:0.9em;
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    line-height:1.5em;
  }


div.announce p {
    margin:10px 0 0;
    padding:0;
  }

/***** Main menu *****/

.z-bkey-extmenu ul {
    list-style-image : none;
    list-style-type : none;
    margin-bottom : 20px;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    width : 140px;
  }


ul.avmenu {
    width:140px;
    margin:0 0 18px;
    padding:0;
    list-style:none;
  }


ul.avmenu li {
    width:140px;
    padding:0;
    line-height:1.4em;
    display:inline;
  }


ul.avmenu li a {
    background-color:#f4f4f4;
    color:#505050;
    font-weight:bold;
    width:130px;
    float:left;
    margin-bottom:5px;
    padding:5px 1px 5px 5px;
    border-left:4px solid #cccccc;
    text-decoration:none;
  }


ul.avmenu li a:hover,ul.avmenu li a.current {
    background-color:#eaeaea;
    border-left:4px solid #286ea0;
    color:#505050;
  }


ul.avmenu ul {
    margin:0 0 0 15px;
    padding:0 0 5px 0;
    font-size:0.9em;
    width:125px;
  }


ul.avmenu ul a {
    padding:3px 1px 3px 5px;
    width:115px;
  }


ul.avmenu ul ul {
    width:113px;
  }


ul.avmenu ul ul a {
    width:100px;
  }

/***** Right sidebar *****/


#extras {
    float:right;
    width:140px;
    margin:0 0 5px;
    padding:0;
    line-height:1.4em;
  }


#extras p,#extras ul {
    font-size:0.9em;
    margin:0 0 16px;
    padding:0;
  }


#extras li {
    list-style:none;
    line-height:1.2em;
    margin:0 0 6px 0;
    padding:0;
  }


#extras ul ul {
    margin:6px 0 0 10px;
    padding:0;
  }


#extras ul ul li {
    margin: 0 0 4px 0;
  }


#extras ul ul li a {
    font-size:1.1em;
    font-weight:normal;
  }


#extras h2, #extras h3 {
    color:#505050;
    background-color:inherit;
    font-size:1.2em;
    margin:0 0 10px;
    padding:0;
  }


.z-blockposition-left  #block_search_q, .z-blockposition-right #block_search_q {
    min-width : 90px !important;
    max-width : 130px;
  }

/***** Main content *****/


#content {
    margin:0 150px 5px 150px;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    padding:0 10px;
    line-height:1.6em;
  }


#contentwide {
    margin:0 0 5px 150px;
    border-left:1px solid #f0f0f0;
    padding:0 0 0 10px;
    line-height:1.6em;
  }


#content h2,#contentwide h2 {
    font-size:1.6em;
    margin:0 0 10px;
  }


#content h3,#contentwide h3 {
    font-size:1.4em;
    margin:0 0 8px;
  }


#content img,#contentwide img {
    padding:1px;
    display:inline;
    background:#cccccc;
    color:#303030;
    border:4px solid #f0f0f0;
  }


#content ul, #contentwide ul, #content ol, #contentwide ol {
    margin:0 0 16px 20px;
    padding:0;
  }


#content li, #contentwide li {
    margin:0;
    padding:0 0 0 5px;
  }


#content ul ul, #contentwide ul ul, #content ol ol, #contentwide ol ol {
    margin:0 0 0 16px;
    padding:0;
  }


#content h1, #content h2, #content h3 {
    color:#505050;
    background-color:inherit;
    font-size:1.3em;
    margin:0 0 5px;
    padding:0;
  }

/***** Footer *****/


#footer {
    clear:both;
    margin:0 auto;
    padding:10px 0 20px;
    border-top:4px solid #f0f0f0;
    width:760px;
    text-align:center;
    color:#808080;
    background:#ffffff;
    font-size:0.9em;
  }


#footer a {
    color:#808080;
    background-color:inherit;
    text-decoration:none;
  }


#footer a:hover {
    text-decoration:underline;
  }

/***** Various classes *****/


.left {
    margin:3px 10px 2px 0;
    float:left;
  }


.right {
    margin:2px 0 2px 10px;
    float:right;
  }


.textright {
    text-align:right;
  }


.center {
    text-align:center;
  }


.small {
    font-size:0.8em;
  }


.bold {
    font-weight:bold;
  }


.hide {
    display:none;
  }

